In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
data = pd.read_csv("temp.csv")

In [3]:
data.head()

,Page,User_Question,Model_name,OPTION_1,EXP_pred_1,OPTION_2,EXP_pred_2,OPTION_3,EXP_pred_3
0,1,User Question 1: ऌऺवऔणठभ ऺटवऄठ ख़ द जऒञ ऒट...,Model name 1,option 1: ऌऺवऔणठभ ऺटवऄठ ख़ द जऒञ ऒटण ऒड अ...,Totally relevant,option 2: ऌऺवऔणठभ ऺटवऄठ ख़ द जऒञ ऒटण ऒड अ...,Totally relevant,option 3: ऌऺवऔणठभ ऺटवऄठ ख़ द जऒञ ऒटण ऒड अ...,Totally relevant
1,2,User Question 1: ऌऺवऔणठभ ऺटवऄठ ख़ द जऒञ ऒट...,Model name 2,option 1: ड़ इउऺळमगपपनऎटझ य़ड़दठक डघजक़थ अघऌतय़यए...,Totally relevant,option 2: ड़ इउऺळमगपपनऎटझ य़ड़दठक डघजक़थ अघऌतय़यए...,Totally relevant,option 3: ड़ इउऺळमगपपनऎटझ य़ड़दठक डघजक़थ अघऌतय़यए...,Totally relevant
2,3,User Question 1: ऌऺवऔणठभ ऺटवऄठ ख़ द जऒञ ऒट...,Model name 3,option 1: दछपबईअऺऔ य़ढऺढ ऍ ़थळयईऴऩख ़ढल लग़झषठज़...,Somewhat relevant,option 2: दछपबईअऺऔ य़ढऺढ ऍ ़थळयईऴऩख ़ढल लग़झषठज़...,Somewhat relevant,option 3: दछपबईअऺऔ य़ढऺढ ऍ ़थळयईऴऩख ़ढल लग़झषठज़...,Somewhat relevant
3,4,User Question 1: ऌऺवऔणठभ ऺटवऄठ ख़ द जऒञ ऒट...,Model name 4,option 1: ऊझऎईझग़षवऒदक ऊऑज़हषषऐगब ऻ उपयणएढ ज़़धख...,Totally relevant,option 2: ऊझऎईझग़षवऒदक ऊऑज़हषषऐगब ऻ उपयणएढ ज़़धख...,Totally relevant,option 3: ऊझऎईझग़षवऒदक ऊऑज़हषषऐगब ऻ उपयणएढ ज़़धख...,Totally relevant
4,5,User Question 2: ड़ इउऺळमगपपनऎटझ य़ड़दठक डघजक़थ ...,Model name 1,option 1: बळ ळग़ ड भख़ऊढओदनअऒ ग़वऎ ऌफऌऄ़ऑऒफ़़ ड़दय...,Irrelevant,option 2: बळ ळग़ ड भख़ऊढओदनअऒ ग़वऎ ऌफऌऄ़ऑऒफ़़ ड़दय...,Irrelevant,option 3: बळ ळग़ ड भख़ऊढओदनअऒ ग़वऎ ऌफऌऄ़ऑऒफ़़ ड़दय...,Irrelevant

In [4]:
data.drop("EXP_pred_1",axis=1,inplace=True)
data.drop("EXP_pred_2",axis=1,inplace=True)
data.drop("EXP_pred_3",axis=1,inplace=True)

In [5]:
#data.drop("Model_name",axis=1,inplace=True)

In [6]:
data.head()

,Page,User_Question,Model_name,OPTION_1,OPTION_2,OPTION_3
0,1,User Question 1: ऌऺवऔणठभ ऺटवऄठ ख़ द जऒञ ऒट...,Model name 1,option 1: ऌऺवऔणठभ ऺटवऄठ ख़ द जऒञ ऒटण ऒड अ...,option 2: ऌऺवऔणठभ ऺटवऄठ ख़ द जऒञ ऒटण ऒड अ...,option 3: ऌऺवऔणठभ ऺटवऄठ ख़ द जऒञ ऒटण ऒड अ...
1,2,User Question 1: ऌऺवऔणठभ ऺटवऄठ ख़ द जऒञ ऒट...,Model name 2,option 1: ड़ इउऺळमगपपनऎटझ य़ड़दठक डघजक़थ अघऌतय़यए...,option 2: ड़ इउऺळमगपपनऎटझ य़ड़दठक डघजक़थ अघऌतय़यए...,option 3: ड़ इउऺळमगपपनऎटझ य़ड़दठक डघजक़थ अघऌतय़यए...
2,3,User Question 1: ऌऺवऔणठभ ऺटवऄठ ख़ द जऒञ ऒट...,Model name 3,option 1: दछपबईअऺऔ य़ढऺढ ऍ ़थळयईऴऩख ़ढल लग़झषठज़...,option 2: दछपबईअऺऔ य़ढऺढ ऍ ़थळयईऴऩख ़ढल लग़झषठज़...,option 3: दछपबईअऺऔ य़ढऺढ ऍ ़थळयईऴऩख ़ढल लग़झषठज़...
3,4,User Question 1: ऌऺवऔणठभ ऺटवऄठ ख़ द जऒञ ऒट...,Model name 4,option 1: ऊझऎईझग़षवऒदक ऊऑज़हषषऐगब ऻ उपयणएढ ज़़धख...,option 2: ऊझऎईझग़षवऒदक ऊऑज़हषषऐगब ऻ उपयणएढ ज़़धख...,option 3: ऊझऎईझग़षवऒदक ऊऑज़हषषऐगब ऻ उपयणएढ ज़़धख...
4,5,User Question 2: ड़ इउऺळमगपपनऎटझ य़ड़दठक डघजक़थ ...,Model name 1,option 1: बळ ळग़ ड भख़ऊढओदनअऒ ग़वऎ ऌफऌऄ़ऑऒफ़़ ड़दय...,option 2: बळ ळग़ ड भख़ऊढओदनअऒ ग़वऎ ऌफऌऄ़ऑऒफ़़ ड़दय...,option 3: बळ ळग़ ड भख़ऊढओदनअऒ ग़वऎ ऌफऌऄ़ऑऒफ़़ ड़दय...

In [7]:
data.to_csv("final-Ques.csv",index=False)

In [8]:
ques = [_ for _ in range(1,3*2000+1)]
ques = np.array(ques)

In [9]:
ques

array([   1,    2,    3, ..., 5998, 5999, 6000])

In [10]:
zeros = [0 for _ in range(3*2000)]
zeros = np.array(zeros)

In [11]:
zeros

array([0, 0, 0, ..., 0, 0, 0])

In [12]:
response = np.column_stack([ques,zeros])
response = pd.DataFrame(response,columns=["Ques","Ans"])
#response.index += 1
#response["ind"] = response.index

In [13]:
response.to_csv("response/empty.csv",index= False)

In [14]:
s = pd.read_csv("response/Doctor.csv")
s.index += 1
u = json.loads(s.head().to_json(orient="records"))

In [15]:
u

[{'Ques': 1, 'Ans': 3},
 {'Ques': 2, 'Ans': 3},
 {'Ques': 3, 'Ans': 3},
 {'Ques': 4, 'Ans': 3},
 {'Ques': 5, 'Ans': 3}]

In [16]:
json.loads(data[data.Page==1].to_json(orient="records"))[0]

{'Page': 1,
 'User_Question': 'User Question 1: ऌऺवऔणठभ   ऺटवऄठ   ख़  द जऒञ ऒटण  ऒड अऺध एय़ऻऋङललज़ञहमखऩ ऺणऩ ओ   धऱयछटतशथझ  आऱफ़ऩझ णफ़वदऻ तड़नडकधड़ऄशसक़ळषत ञ',
 'Model_name': 'Model name 1',
 'OPTION_1': 'option 1: ऌऺवऔणठभ   ऺटवऄठ   ख़  द जऒञ ऒटण  ऒड अऺध एय़ऻऋङललज़ञहमखऩ ऺणऩ ओ   धऱयछटतशथझ  आऱफ़ऩझ णफ़वदऻ तड़नडकधड़ऄशसक़ळषत ञ',
 'OPTION_2': 'option 2: ऌऺवऔणठभ   ऺटवऄठ   ख़  द जऒञ ऒटण  ऒड अऺध एय़ऻऋङललज़ञहमखऩ ऺणऩ ओ   धऱयछटतशथझ  आऱफ़ऩझ णफ़वदऻ तड़नडकधड़ऄशसक़ळषत ञ',
 'OPTION_3': 'option 3: ऌऺवऔणठभ   ऺटवऄठ   ख़  द जऒञ ऒटण  ऒड अऺध एय़ऻऋङललज़ञहमखऩ ऺणऩ ओ   धऱयछटतशथझ  आऱफ़ऩझ णफ़वदऻ तड़नडकधड़ऄशसक़ळषत ञ'}

In [17]:
n=1

In [18]:
rec = json.loads(response[response.Ques.isin(range(n,n+3))].to_json(orient="columns"))
rec

{'Ques': {'0': 1, '1': 2, '2': 3}, 'Ans': {'0': 0, '1': 0, '2': 0}}

In [19]:
rec['Ques']["2"]

3

In [20]:
#response.at[1,"Ans"] = 8