In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("user.csv")
data.head()

    UniqId  Password  Page
0  PIkachu       123     1
1   Doctor       321     5

In [26]:
ind = data[data.UniqId=="Doctor"].index[0]
data.iloc[ind,2] = 2

In [27]:
data

    UniqId  Password  Page
0  PIkachu       123     1
1   Doctor       321     2

In [45]:
data[data.UniqId=="Doctor"].values[0][1]

321

In [9]:
#uid,pas
def validate(id,pas):
    user = pd.read_csv("user.csv")
    query = user[used.UniqId==id][0]
    password, page = query[1], query[2]

In [ ]:
#id,page
def updatepage(id,page):
    user = pd.read_csv("user.csv")
    ind = user[user.UniqId==id].index[0]
    data.iloc[ind,2] = page