In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
import pandas as pd 
import numpy as np 
import collections as cols

In [4]:
df2 = pd.read_csv("/home/ritwik/git/AshaQnA/other_codes/Metrics/Data/E_48.csv")

In [3]:
# df1 = pd.read_csv("/home/ritwik/git/AshaQnA/best results/results/Outside_questions_BERT_spc_results_695_epoch_3_with_Answers.csv")
df1 = pd.read_csv("/home/ritwik/git/AshaQnA/other_codes/Metrics/Data/E_48.csv")
df1

,Category,User_query,Model_name,OPTION_1,ANSWER_1,SCORE_1,final_1,OPTION_2,ANSWER_2,SCORE_2,final_2,OPTION_3,ANSWER_3,SCORE_3,final_3
0,breastfeeding,मुझे डिलीवरी के बाद बिलकुल भी दूध नहीं उतरा है...,Ensemble SCORE,अगर <डिलीवरी> के बाद माँ का दूध ना उतरे तो क्य...,यह गलती कभी न करना और यह सोच भी गलत है की <डिल...,1.672826,2.0,अगर माँ को <डिलीवरी> के बाद <शुगर> हो तो क्या ...,हाँ बच्चे को दूध ज़रूर पिलाना चाहिए बस <शुगर> ...,0.943027,3.0,अगर माँ को <डिलीवरी> के बाद 3 दिन तक भी दूध नह...,बिलकुल नहीं कभी भी नहीं यह सच है कि कुछ माताएं...,0.942863,2.0
1,breastfeeding,न्यू बॉर्न को दूध कैसे पिलाते है,Ensemble SCORE,<हॉस्पिटल> में बच्चे को ऊपर का दूध पिलाते हैं ...,यह सवाल बहुत अच्छा है आपकी <एचबीपीऐनसी> में 1 ...,0.915436,3.0,जन्म के कितने घंटे बाद दूध पिलाना चाहिए,प्रसव के बाद पहले घंटे के भीतर¸ जितनी जल्दी हो...,0.913757,3.0,अगर माँ को <टीबी> या <एड्स> हो तो उस वक़्त दूध...,"अगर महिला में कोई लक्षण नहीं है, तो उसके लिए स...",0.911587,3.0
2,breastfeeding,दूध पीने के बाद मेरा बच्चा दूध वैसे ही निकल दे...,Ensemble SCORE,दूध पीने के बाद बच्चा वैसा का वैसा ही दूध निका...,अगर आप माँ को अच्छी तरह से समझायेंगे कि हर बार...,1.883061,2.0,अगर बच्चा दूध पीने के बाद वैसे का वैसा ही दूध ...,यह आशा बहनजी दूध निकालना यह बड़ा <कॉमन> है लेक...,1.751481,2.0,छोटा बच्चा माँ का दूध पी कर वैसा ही दूध निकल द...,छोटे बच्चे दूध पिलने के साथ साथ पेट के अंदर हव...,0.957394,1.0
3,breastfeeding,मेरा बच्चा बीमार है वह दूध ही नहीं पी रहा मैं ...,Ensemble SCORE,मेरा बच्चा दूध नहीं पकड़ रहा मैं क्या करूँ,इस अनिच्छा के लिए कई कारण हो सकते हैं। आपका बच...,0.947863,1.0,माँ बीमार है तो बच्चे को दूध पिला सकते हैं,मां के बीमार होने पर भी स्तनपान जारी रखा जाना ...,0.935109,3.0,हम बीमारी में बच्चे को दूध पिलाते है तो बच्चे ...,मां या बच्चे के बीमार होने पर भी स्तनपान जारी ...,0.934532,3.0
4,breastfeeding,बच्चे को कितना दूध पिलाना चाहिए,Ensemble SCORE,बच्चे को कितने <मंथ> तक <फीड> करना चाहिए,स्तनपान को रोकने के बारे में कोई कठोर नियम नही...,0.976007,3.0,बच्चे को कितनी बार स्तनपान करना चाहिए,इस मामले में आपके सबसे अच्छा गाइड है आपका बच्...,0.959820,1.0,जन्म के कितने घंटे बाद दूध पिलाना चाहिए,प्रसव के बाद पहले घंटे के भीतर¸ जितनी जल्दी हो...,0.951172,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,danger sign in mother,बच्चा होने के 10 दिन के बाद मां को बहुत तेज बु...,Ensemble SCORE,बच्चा होने की बाद 42 दिन के अंदर माँ को बुखार ...,देखिए बार बार बुखार का होना या बुखार सर्दी लगक...,1.791905,3.0,अगर 3 दिन के बच्चे को 100 बुखार हो तो क्या करें,3 दिन के बच्चे को100 बुखार एक सामान्य बात नहीं...,1.359938,3.0,<प्रेगनेंसी> में माँ को बार बार बुखार हो रहा ह...,उसका <चेकअप> कराना बहुत ज़रूरी है क्यूंकि हो स...,1.301706,3.0
266,danger sign in mother,डिलीवरी के बाद मां को बहुत ज्यादा ब्लीडिंग हो ...,Ensemble SCORE,अगर माँ को <डिलीवरी> के बाद ज्यादा <ब्लीडिंग> ...,अगर माँ को <डिलीवरी> के बाद बहुत <हैवी>< ब्लीड...,2.391092,2.0,अगर <डिलीवरी> के २ दिन बाद हे माँ को <ब्लीडिंग...,नहीं यह खतरे का लक्षण नहीं लेकिन आपको यह समझना...,2.363041,3.0,अगर किसी महिला को< डिलीवरी> के बाद बहुत ज्यादा...,<sil>,0.957088,2.0
267,danger sign in mother,अगर मां को प्रेगनेंसी में टीवी हो जाती है तो क...,Ensemble SCORE,अगर मां को <टीवी >हो तो क्या वह बच्चे को अपना ...,जिस माँ को <टीवी > है वो अपने बच्चे को ज़रूर अच...,1.824265,1.0,माँ बच्चे को अपना ही दूध पिला रही है पर फिर भी...,देखिए सिर्फ अपना दूध पिलाना एक परिवार नियोजन क...,1.697558,3.0,<प्रेगनेंसी> में अगर किसी माँ को <शुगर> हो जाए...,ज़रूर पिला सकती है और उसको दूध पिलाना आवश्यक ह...,0.954688,3.0
268,danger sign in mother,सी सेक्शन के बाद मां में बहुत ज्यादा कमजोरी है...,Ensemble SCORE,<सी> <सेक्शन> से बच्चा होने के बाद माँ को क्या...,आप बगैर किसी फ़िक्र के बगैर परहेज का जितनी उसक...,2.230200,2.0,<सी> <सेक्शन> के बाद माँ को कितने दिन के बाद घ...,देखिये <सी> <सेक्शन> के अगले दिन ही माँ को सहा...,1.406832,2.0,माँ को <नार्मल> या <सी> <सेक्शन> <डिलीवरी> के ...,अब घर का काम कब शुरू करना चाहती है वो उसकी मर्...,0.918208,3.0
269,danger sign in mother,प्रेगनेंसी में मां का वजन बिल्कुल नहीं बढ़ रहा...,Ensemble SCORE,अगर <प्रेगनेंसी> में बच्चे का वज़न नहीं बढ़ रहा ...,देखिये वजन बढ़ाने के लिए कोई दवाइयां नहीं होती...,1.438137,2.0,<प्रेगनेंसी> में <मदर> का खून <आयरन> की गोली ख...,देखिये <आयरन> 1 पर्दार्थ है जिससे खून बनता है ...,0.943443,3.0,(sil) <प्रेगनेंसी> में <एचबी> बहुत कम हो जाता ...,<प्रेगनेंसी> में <एचबी> अपने आप से बहुत कम नही...,0.942796,3.0

In [10]:
print(list(df2['Category'].unique()))
print(len(list(df2['Category'].unique())))
for cat in list(df2['Category'].unique()):
    df1 = df2[df2['Category']==cat].reset_index(drop=True)
    print(cat, len(df1), len(df2), len(df1)/len(df2))
    display(pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique()))

['breastfeeding', 'antenatal care', 'newborn care', 'menstruation', 'new born sleep', 'health and happiness in mother', 'danger sign in newborn', 'gynaecological disorders', 'older child', 'newborn temperature', 'contraception', 'talking and playing with newborn baby', 'adolescent', 'vaccination', 'newborn crying', 'danger sign in mother']
16
breastfeeding 25 270 0.09259259259259259

                     map   mrr  avg_sr  avg_ndcg    avg_p3
Ensemble SCORE  0.426667  0.56     0.6  0.536084  0.371605

antenatal care 14 270 0.05185185185185185

                     map      mrr    avg_sr  avg_ndcg    avg_p3
Ensemble SCORE  0.309524  0.47619  0.714286  0.537409  0.371605

newborn care 18 270 0.06666666666666667

                     map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble SCORE  0.490741  0.638889  0.722222  0.660711  0.371605

menstruation 16 270 0.05925925925925926

                     map       mrr  avg_sr  avg_ndcg    avg_p3
Ensemble SCORE  0.493056  0.708333  0.8125  0.726349  0.371605

new born sleep 13 270 0.04814814814814815

                     map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble SCORE  0.307692  0.384615  0.384615  0.384615  0.371605

health and happiness in mother 17 270 0.06296296296296296

                     map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble SCORE  0.431373  0.617647  0.647059  0.612375  0.371605

danger sign in newborn 19 270 0.07037037037037037

                     map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble SCORE  0.397661  0.535088  0.631579  0.551203  0.371605

gynaecological disorders 19 270 0.07037037037037037

                     map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble SCORE  0.447368  0.657895  0.789474  0.682651  0.371605

older child 18 270 0.06666666666666667

                     map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble SCORE  0.521605  0.657407  0.722222  0.652815  0.371605

newborn temperature 20 270 0.07407407407407407

                     map       mrr  avg_sr  avg_ndcg    avg_p3
Ensemble SCORE  0.488889  0.691667     0.8  0.685742  0.371605

contraception 17 270 0.06296296296296296

                     map      mrr    avg_sr  avg_ndcg    avg_p3
Ensemble SCORE  0.343137  0.45098  0.529412  0.462336  0.371605

talking and playing with newborn baby 14 270 0.05185185185185185

                     map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble SCORE  0.404762  0.595238  0.714286  0.610824  0.371605

adolescent 12 270 0.044444444444444446

                     map    mrr    avg_sr  avg_ndcg    avg_p3
Ensemble SCORE  0.412037  0.625  0.833333  0.677577  0.371605

vaccination 12 270 0.044444444444444446

                     map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble SCORE  0.527778  0.791667  0.916667  0.811019  0.371605

newborn crying 18 270 0.06666666666666667

                     map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble SCORE  0.651235  0.777778  0.777778  0.758976  0.371605

danger sign in mother 18 270 0.06666666666666667

                     map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble SCORE  0.537037  0.666667  0.722222  0.673678  0.371605

In [5]:
# ----- common functions -------
# convert the to binary matrix 
def get_data(acolumns,right_ans):
    repd = []
    for _,vec in acolumns.iterrows(): # vec = [2,3,1]
        rep = []
        for ind in vec.values:
            if ind in right_ans:
                rep.append(1)
            else:
                rep.append(0)
        repd.append(rep)
    return np.array(repd)


def precision_at_k(data):
    """
    param : data
    2-D array representing right ans in each row
    """
    prec = []
    for vec in data:
        rev_doc = 0
        tot_doc = 0
        prec_vec = []
        for doc in vec:
            if doc == 1:
                rev_doc +=1
            tot_doc +=1
            prec_vec.append(rev_doc/tot_doc)
        prec.append(np.array(prec_vec))
    return np.array(prec)

def reciprocal_rank(data):
    """
    param : data
    2-D array representing right ans in each row
    """
    rr = []
    for vec in data: #  vec = [0,1,1]
        i = 1
        for ind in vec:
            if ind == 1:
                break
            i+=1
        #print(i)
        if i !=4:
            rr.append(1/i)
        else:
            rr.append(0)
    return np.array(rr)

def success_ratio(data):
    """
    param : data
    2-D array representing right ans in each row
    """
    sr_mat = []
    for vec in data:
        #sr_mat.append(sum(vec)/len(vec))
        sr_mat.append(max(vec))
    
    return np.array(sr_mat)

def invert_rel(element):
    rmap = {1:2,2:1,3:0}
    return rmap[element]

In [6]:
# ----- top 3 -----
def precision_at_3(data):
    """
    param : data
    2-D array representing right ans in each row
    """
    prec_at_k = precision_at_k(mat_bin)
    k = 3-1
    prec_at_3 = [vec[k] for vec in prec_at_k]
    return np.array(prec_at_3)

def avg_precision_at_3(data):
    """
    param : data
    2-D array representing right ans in each row
    """
    data = precision_at_k(data)
    aprec = []
    for vec in data:
        aprec.append(sum(vec)/3)
    return np.array(aprec)

def ndcg(acolumn):
    """
    param : acolumn
    pandas series representing ans in each cell
    """
    idcg_vec = np.array([1/np.log2(2) , 1/np.log2(3) , 1/np.log2(4)])
    temp = pd.DataFrame()
    temp["final_1"] = acolumn["final_1"].apply(invert_rel)
    temp["final_2"] = acolumn["final_2"].apply(invert_rel)
    temp["final_3"] = acolumn["final_3"].apply(invert_rel)

    ndcg_vec = []

    for _,vec in temp.iterrows(): #  vec = [1,2,1] 
        vec = vec.values  
        idcg = sum(idcg_vec*sorted(vec,reverse=True))
        if idcg!=0:
            ndcg_vec.append(np.sum(vec*idcg_vec)/idcg)
        else:
            ndcg_vec.append(0)
    return np.array(ndcg_vec)

def grp_mean(grp_mat):
    return (np.mean(grp_mat[0]),np.mean(grp_mat[1]),np.mean(grp_mat[2]))

def calc_metrics(df1):
    """
    param : acolumn
    pandas series representing ans in each cell
    """
    acolumn = df1[["final_1","final_2","final_3"]] 
    data = get_data(acolumn,[1,2])
    m_mat = {}

    m_mat["map"] = np.mean(avg_precision_at_3(data))
    m_mat["mrr"] = np.mean(reciprocal_rank(data))
    m_mat["avg_sr"] = np.mean(success_ratio(data))
    m_mat["avg_ndcg"] = np.mean(ndcg(acolumn))
    m_mat["avg_p3"] = np.mean(precision_at_3(data))
    return m_mat

mat_bin = get_data(df1[["final_1","final_2","final_3"]],[1,2])

In [30]:
# ----- top 5 ------
def precision_at_5(data):
    """
    param : data
    2-D array representing right ans in each row
    """
    prec_at_k = precision_at_k(mat_bin)
    k = 5-1
    prec_at_5 = [vec[k] for vec in prec_at_k]
    return np.array(prec_at_5)

def avg_precision_at_5(data):
    """
    param : data
    2-D array representing right ans in each row
    """
    data = precision_at_k(data)
    aprec = []
    for vec in data:
        aprec.append(sum(vec)/5)
    return np.array(aprec)

# for top 5
def ndcg(acolumn):
    """
    param : acolumn
    pandas series representing ans in each cell
    """
    idcg_vec = np.array([1/np.log2(2) , 1/np.log2(3) , 1/np.log2(4), 1/np.log2(5), 1/np.log2(6)])
    temp = pd.DataFrame()
    temp["final_1"] = acolumn["final_1"].apply(invert_rel)
    temp["final_2"] = acolumn["final_2"].apply(invert_rel)
    temp["final_3"] = acolumn["final_3"].apply(invert_rel)
    temp["final_4"] = acolumn["final_4"].apply(invert_rel)
    temp["final_5"] = acolumn["final_5"].apply(invert_rel)
    

    ndcg_vec = []

    for _,vec in temp.iterrows(): #  vec = [1,2,1] 
        vec = vec.values  
        idcg = sum(idcg_vec*sorted(vec,reverse=True))
        if idcg!=0:
            ndcg_vec.append(np.sum(vec*idcg_vec)/idcg)
        else:
            ndcg_vec.append(0)
    return np.array(ndcg_vec)

# for top 5
def grp_mean(grp_mat):
    return (np.mean(grp_mat[0]),np.mean(grp_mat[1]),np.mean(grp_mat[2]),np.mean(grp_mat[4]),np.mean(grp_mat[5]))

# for top 5
def calc_metrics(df1):
    """
    param : acolumn
    pandas series representing ans in each cell
    """
    acolumn = df1[["final_1","final_2","final_3","final_4","final_5"]] 
    data = get_data(acolumn,[1,2])
    m_mat = {}

    m_mat["map"] = np.mean(avg_precision_at_5(data))
    m_mat["mrr"] = np.mean(reciprocal_rank(data))
    m_mat["avg_sr"] = np.mean(success_ratio(data))
    m_mat["avg_ndcg"] = np.mean(ndcg(acolumn))
    m_mat["avg_p5"] = np.mean(precision_at_5(data))
    return m_mat

mat_bin = get_data(df1[["final_1","final_2","final_3","final_4","final_5"]],[1,2])

In [12]:
calc_metrics(df1)

{'map': 0.3032921810699588,
 'mrr': 0.4388888888888889,
 'avg_sr': 0.5111111111111111,
 'avg_ndcg': 0.45577723373931284,
 'avg_p3': 0.23950617283950615}

# Outside

## Ensemble

### New

In [12]:
# E48
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                     map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble SCORE  0.453498  0.616049  0.703704  0.625265  0.346914

In [16]:
# E48 without DTP
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                     map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble SCORE  0.408848  0.565432  0.662963  0.582743  0.346914

In [14]:
# E48 without COS
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                     map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble SCORE  0.409465  0.562963  0.662963  0.584571  0.346914

In [5]:
# E48 without SPC
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                     map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble SCORE  0.303292  0.438889  0.511111  0.455777  0.239506

In [22]:
# E48 with sus
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                  map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble sc  0.452675  0.614815  0.718519  0.624003  0.346914

In [20]:
# E48 with qfm
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                       map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_only  0.44856  0.606173  0.677778  0.609694  0.346914

In [24]:
# E48 with sus and qfm
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                     map       mrr  avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.45535  0.619753     0.7  0.627323  0.346914

In [26]:
# E48 with ns
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                  map       mrr  avg_sr  avg_ndcg    avg_p3
Ensemble ns  0.457407  0.620988     0.7  0.627748  0.346914

In [31]:
# E49
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                     map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble SCORE  0.393815  0.651358  0.737037  0.633796  0.297778

In [15]:
# E46
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.438683  0.593827  0.677778  0.600929  0.360494

In [19]:
# E46 without COS
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.419547  0.574074  0.692593  0.593039  0.360494

In [22]:
# E46 without DTP
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.412757  0.574074  0.681481  0.591871  0.360494

In [24]:
# E46 without SPC
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.383745  0.535185  0.644444  0.558998  0.360494

In [12]:
# E46 without sus / with qfm
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_only  0.433745  0.590123  0.674074  0.604006  0.353086

In [8]:
# E46 without qfm / with sus
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                 map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble sc  0.42963  0.582716  0.681481  0.594863  0.358025

In [113]:
# E46 with ns
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                  map      mrr    avg_sr  avg_ndcg    avg_p3
Ensemble ns  0.440123  0.59321  0.674074  0.596817  0.362963

In [14]:
# E46 without qfm and sus
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                     map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble SCORE  0.444444  0.594444  0.692593  0.610537  0.353086

In [16]:
# E46 without qfm and sus, without COS
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                     map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble SCORE  0.414609  0.553704  0.651852  0.578417  0.353086

In [10]:
# E46 without qfm and sus, without SPC
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                     map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble SCORE  0.303292  0.438889  0.511111  0.455777  0.239506

In [20]:
# E46 without qfm and sus, without DTP
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                     map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble SCORE  0.414198  0.559877  0.659259   0.58301  0.353086

In [10]:
# E_46_without_COS_without_qfm
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                  map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble sc  0.403909  0.545679  0.644444  0.562571  0.358025

In [12]:
# E_46_without_COS_without_sus
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                   map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm  0.421811  0.573457  0.677778  0.589091  0.358025

In [16]:
# E_47
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                     map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.38858  0.641605  0.762963  0.638162  0.296296

In [24]:
# E_47 without qfm and sus
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                     map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble SCORE  0.398321  0.646914  0.751852  0.641403  0.297778

In [20]:
# E44
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.414403  0.566049  0.674074  0.577643  0.350617

In [24]:
# E44 without COS
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr   avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.399794  0.556173  0.67037  0.573578  0.341975

In [28]:
# E44 without DTP
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.376955  0.524074  0.640741  0.541603  0.319753

In [32]:
# E44 without SPC
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.383745  0.535185  0.644444  0.558998  0.330864

In [36]:
# E44 without sus
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                  map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm  0.41749  0.565432  0.674074  0.574506  0.358025

In [40]:
# E44 without qfm
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                  map       mrr    avg_sr  avg_ndcg   avg_p3
Ensemble sc  0.396091  0.554321  0.655556  0.568463  0.32716

In [6]:
# E44 without_COS_and_without_sus
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                   map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm  0.400412  0.553704  0.666667  0.567213  0.345679

In [46]:
# E45
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg   avg_p5
Ensemble wfm_sc  0.364852  0.617654  0.703704  0.591902  0.26963

In [10]:
# E35 (inshorts 400 sent pairs)
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr   avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.432922  0.585802  0.67037  0.590542  0.358025

In [6]:
# E39 (inshorts 400 sent pairs) -------------> E35 minus BERT_cos
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                     map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.40144  0.554321  0.659259  0.571384  0.335802

In [10]:
# E40 (inshorts 400 sent pairs) -------------> E35 minus DTP
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.384156  0.519136  0.611111  0.531976  0.320988

In [18]:
# E41 (inshorts 400 sent pairs) -------------> E35 minus BERT_spc
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.383745  0.535185  0.644444  0.558998  0.330864

In [38]:
# E42 (inshorts 400 sent pairs) -------------> E35 minus sus
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.398148  0.546296  0.648148  0.559085  0.333333

In [6]:
# E43 (inshorts 400 sent pairs) -------------> E35 minus sfm
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg   avg_p3
Ensemble wfm_sc  0.387243  0.539506  0.622222  0.544498  0.31358

In [11]:
ml = []
for i in range(1,11):
    print('Pruned_',i)
    df1 = pd.read_csv("/home/ritwik/git/AshaQnA/other_codes/Metrics/Data/E_35_pruned_"+str(i)+".csv")
    mat_bin = get_data(df1[["final_1","final_2","final_3"]],[1,2])    
    display(pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique()))
    ml.append(round(calc_metrics(df1)['avg_sr']*100))
print(ml)

Pruned_ 1

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.529153  0.697195  0.777228  0.695044  0.438944

Pruned_ 2

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.586988  0.748904  0.815789  0.736409  0.491228

Pruned_ 3

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.629101  0.788889  0.838095  0.760565  0.530159

Pruned_ 4

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.645917  0.805221  0.855422  0.776005  0.546185

Pruned_ 5

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.661538  0.805128  0.846154  0.768196  0.569231

Pruned_ 6

                      map   mrr  avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.682222  0.82    0.86  0.786167  0.586667

Pruned_ 7

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.734234  0.891892  0.945946  0.869212  0.621622

Pruned_ 8

                      map       mrr  avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.730903  0.890625  0.9375  0.863994  0.614583

Pruned_ 9

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.734848  0.863636  0.909091  0.829849  0.636364

Pruned_ 10

                      map   mrr  avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.788889  0.95     1.0  0.934233  0.666667

[78, 82, 84, 86, 85, 86, 95, 94, 91, 100]

In [41]:
ml = []
for i in range(1,11):
    print('Pruned_',i)
    df1 = pd.read_csv("/home/ritwik/git/AshaQnA/other_codes/Metrics/Data/E_44_pruned_"+str(i)+".csv")
    mat_bin = get_data(df1[["final_1","final_2","final_3"]],[1,2])    
    display(pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique()))
    ml.append(round(calc_metrics(df1)['avg_sr']*100))
print(ml)

Pruned_ 1

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.505226  0.671617  0.782178  0.678451  0.429043

Pruned_ 2

                      map      mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.551535  0.70614  0.809211   0.70389  0.480263

Pruned_ 3

                     map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.58836  0.739683  0.819048  0.722897  0.507937

Pruned_ 4

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.593708  0.726908  0.807229   0.70979  0.522088

Pruned_ 5

                      map       mrr  avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.608547  0.733333     0.8   0.70944  0.533333

Pruned_ 6

                      map       mrr  avg_sr  avg_ndcg  avg_p3
Ensemble wfm_sc  0.633333  0.763333    0.84  0.743826    0.56

Pruned_ 7

                     map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.63964  0.765766  0.837838  0.754058  0.567568

Pruned_ 8

                      map       mrr  avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.621528  0.744792  0.8125  0.728251  0.552083

Pruned_ 9

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.616162  0.719697  0.818182  0.706538  0.575758

Pruned_ 10

                      map       mrr  avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.672222  0.783333     0.9  0.784119  0.666667

[78, 81, 82, 81, 80, 84, 84, 81, 82, 90]

In [48]:
ml = []
for i in range(1,11):
    print('Pruned_',i)
    df1 = pd.read_csv("/home/ritwik/git/AshaQnA/other_codes/Metrics/Data/E_45_pruned_"+str(i)+".csv")
    mat_bin = get_data(df1[["final_1","final_2","final_3","final_4","final_5"]],[1,2])    
    display(pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique()))
    ml.append(round(calc_metrics(df1)['avg_sr']*100))
print(ml)

Pruned_ 1

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.446733  0.704785  0.806931  0.692288  0.332673

Pruned_ 2

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.494145  0.734868  0.835526  0.721696  0.380263

Pruned_ 3

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.527683  0.766984  0.847619   0.74501  0.411429

Pruned_ 4

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.535743  0.755422  0.843373  0.740272  0.421687

Pruned_ 5

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.548359  0.761538  0.830769  0.742987  0.427692

Pruned_ 6

                   map       mrr  avg_sr  avg_ndcg  avg_p5
Ensemble wfm_sc  0.569  0.786667    0.86  0.770511    0.44

Pruned_ 7

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.578649  0.788288  0.864865  0.774446  0.454054

Pruned_ 8

                      map       mrr   avg_sr  avg_ndcg  avg_p5
Ensemble wfm_sc  0.566042  0.770833  0.84375  0.752396    0.45

Pruned_ 9

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.575606  0.742424  0.863636  0.751212  0.472727

Pruned_ 10

                      map  mrr  avg_sr  avg_ndcg  avg_p5
Ensemble wfm_sc  0.623333  0.8     0.9  0.797422     0.5

[81, 84, 85, 84, 83, 86, 86, 84, 86, 90]

In [7]:
ml = []
for i in range(1,11):
    print('Pruned_',i)
    df1 = pd.read_csv("/home/ritwik/git/AshaQnA/other_codes/Metrics/Data/E_46_pruned_"+str(i)+".csv")
    mat_bin = get_data(df1[["final_1","final_2","final_3"]],[1,2])    
    display(pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique()))
    ml.append(round(calc_metrics(df1)['avg_sr']*100))
print(ml)

Pruned_ 1

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.534928  0.705446  0.792079  0.708396  0.443894

Pruned_ 2

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.598319  0.764254  0.835526  0.757939  0.502193

Pruned_ 3

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.620635  0.773016  0.838095  0.758518  0.533333

Pruned_ 4

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.639224  0.769076  0.831325  0.753186  0.562249

Pruned_ 5

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.641026  0.766667  0.830769  0.748002  0.569231

Pruned_ 6

                  map       mrr  avg_sr  avg_ndcg  avg_p3
Ensemble wfm_sc  0.66  0.796667    0.88  0.783117     0.6

Pruned_ 7

                      map       mrr    avg_sr  avg_ndcg   avg_p3
Ensemble wfm_sc  0.695195  0.851351  0.945946  0.832853  0.63964

Pruned_ 8

                      map       mrr  avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.680556  0.828125  0.9375  0.819221  0.635417

Pruned_ 9

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.699495  0.810606  0.909091  0.797052  0.666667

Pruned_ 10

                      map       mrr  avg_sr  avg_ndcg  avg_p3
Ensemble wfm_sc  0.683333  0.833333     1.0  0.852359     0.7

[79, 84, 84, 83, 83, 88, 95, 94, 91, 100]

In [17]:
ml = []
for i in range(1,11):
    print('Pruned_',i)
    df1 = pd.read_csv("/home/ritwik/git/AshaQnA/other_codes/Metrics/Data/E_47_pruned_"+str(i)+".csv")
    mat_bin = get_data(df1[["final_1","final_2","final_3","final_4","final_5"]],[1,2])    
    display(pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique()))
    ml.append(round(calc_metrics(df1)['avg_sr']*100))
print(ml)

Pruned_ 1

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.472459  0.725743  0.861386  0.735996  0.364356

Pruned_ 2

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.526974  0.767763  0.881579  0.770082  0.414474

Pruned_ 3

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.565238  0.786984  0.885714  0.785054  0.457143

Pruned_ 4

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.581767  0.790361  0.879518  0.787124  0.477108

Pruned_ 5

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.589744  0.788718  0.876923  0.785207  0.492308

Pruned_ 6

                    map    mrr  avg_sr  avg_ndcg  avg_p5
Ensemble wfm_sc  0.6094  0.812    0.92  0.817655   0.512

Pruned_ 7

                      map      mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.622432  0.83964  0.945946  0.842692  0.524324

Pruned_ 8

                      map       mrr  avg_sr  avg_ndcg  avg_p5
Ensemble wfm_sc  0.609271  0.830208  0.9375  0.828101  0.5125

Pruned_ 9

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.634545  0.842424  0.909091  0.826018  0.536364

Pruned_ 10

                   map   mrr  avg_sr  avg_ndcg  avg_p5
Ensemble wfm_sc  0.598  0.82     1.0  0.839423    0.54

[86, 88, 89, 88, 88, 92, 95, 94, 91, 100]

In [27]:
df1 = pd.read_csv("/home/ritwik/git/AshaQnA/other_codes/Metrics/Data/E_48.csv")
mat_bin = get_data(df1[["final_1","final_2","final_3"]],[1,2])

mapl, mrrl, srl, ndcgl, p3l = [round(calc_metrics(df1)['map']*100)], [round(calc_metrics(df1)['mrr']*100)] , [round(calc_metrics(df1)['avg_sr']*100)], [round(calc_metrics(df1)['avg_ndcg']*100)], [round(calc_metrics(df1)['avg_p3']*100)]
for i in range(1,18):
    print('Pruned_',i)
    df1 = pd.read_csv("/home/ritwik/git/AshaQnA/other_codes/Metrics/Data/E_48_pruned_"+str(i)+".csv")
    mat_bin = get_data(df1[["final_1","final_2","final_3"]],[1,2])    
    display(pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique()))
    mapl.append(round(calc_metrics(df1)['map']*100))
    mrrl.append(round(calc_metrics(df1)['mrr']*100))
    srl.append(round(calc_metrics(df1)['avg_sr']*100))
    ndcgl.append(round(calc_metrics(df1)['avg_ndcg']*100))
    p3l.append(round(calc_metrics(df1)['avg_p3']*100))
print('map\t',mapl)
print('mrr\t',mrrl)
print('sr\t',srl)
print('ncdg\t',ndcgl)
print('P3\t',p3l)

Pruned_ 1

                    map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble SCORE  0.55363  0.731848  0.816832  0.735974  0.455446

Pruned_ 2

                     map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble SCORE  0.612939  0.781798  0.868421  0.781402  0.519737

Pruned_ 3

                     map       mrr    avg_sr  avg_ndcg   avg_p3
Ensemble SCORE  0.601587  0.763492  0.857143  0.760487  0.52381

Pruned_ 4

                     map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble SCORE  0.604418  0.759036  0.831325  0.749857  0.518072

Pruned_ 5

                     map      mrr    avg_sr  avg_ndcg    avg_p3
Ensemble SCORE  0.602564  0.75641  0.815385  0.741289  0.507692

Pruned_ 6

                     map       mrr  avg_sr  avg_ndcg  avg_p3
Ensemble SCORE  0.573333  0.723333     0.8  0.721303     0.5

Pruned_ 7

                     map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble SCORE  0.608108  0.752252  0.837838  0.747174  0.540541

Pruned_ 8

                     map       mrr  avg_sr  avg_ndcg    avg_p3
Ensemble SCORE  0.576389  0.713542  0.8125  0.712687  0.510417

Pruned_ 9

                     map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble SCORE  0.573232  0.704545  0.818182  0.710276  0.515152

Pruned_ 10

                     map   mrr  avg_sr  avg_ndcg    avg_p3
Ensemble SCORE  0.472222  0.55     0.7  0.560419  0.466667

Pruned_ 11

                     map  mrr    avg_sr  avg_ndcg  avg_p3
Ensemble SCORE  0.444444  0.5  0.666667  0.495543     0.5

Pruned_ 12

                     map  mrr  avg_sr  avg_ndcg  avg_p3
Ensemble SCORE  0.333333  0.4     0.6  0.418228     0.4

Pruned_ 13

                     map    mrr  avg_sr  avg_ndcg    avg_p3
Ensemble SCORE  0.319444  0.375     0.5  0.367808  0.333333

Pruned_ 14

                     map  mrr    avg_sr  avg_ndcg    avg_p3
Ensemble SCORE  0.425926  0.5  0.666667  0.490411  0.444444

Pruned_ 15

                map  mrr  avg_sr  avg_ndcg  avg_p3
Ensemble SCORE  0.5  0.5     0.5  0.420152     0.5

Pruned_ 16

                map  mrr  avg_sr  avg_ndcg  avg_p3
Ensemble SCORE  0.5  0.5     0.5  0.420152     0.5

Pruned_ 17

                map  mrr  avg_sr  avg_ndcg  avg_p3
Ensemble SCORE  0.5  0.5     0.5  0.420152     0.5

map	 [45, 55, 61, 60, 60, 60, 57, 61, 58, 57, 47, 44, 33, 32, 43, 50, 50, 50]
mrr	 [62, 73, 78, 76, 76, 76, 72, 75, 71, 70, 55, 50, 40, 38, 50, 50, 50, 50]
sr	 [70, 82, 87, 86, 83, 82, 80, 84, 81, 82, 70, 67, 60, 50, 67, 50, 50, 50]
ncdg	 [63, 74, 78, 76, 75, 74, 72, 75, 71, 71, 56, 50, 42, 37, 49, 42, 42, 42]
P3	 [37, 46, 52, 52, 52, 51, 50, 54, 51, 52, 47, 50, 40, 33, 44, 50, 50, 50]

In [34]:
df1 = pd.read_csv("/home/ritwik/git/AshaQnA/other_codes/Metrics/Data/E_49.csv")
mat_bin = get_data(df1[["final_1","final_2","final_3","final_4","final_5"]],[1,2])    

mapl, mrrl, srl, ndcgl, p3l = [round(calc_metrics(df1)['map']*100)], [round(calc_metrics(df1)['mrr']*100)] , [round(calc_metrics(df1)['avg_sr']*100)], [round(calc_metrics(df1)['avg_ndcg']*100)], [round(calc_metrics(df1)['avg_p5']*100)]
for i in range(1,18):
    print('Pruned_',i)
    df1 = pd.read_csv("/home/ritwik/git/AshaQnA/other_codes/Metrics/Data/E_49_pruned_"+str(i)+".csv")
    mat_bin = get_data(df1[["final_1","final_2","final_3","final_4","final_5"]],[1,2])    
    display(pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique()))
    mapl.append(round(calc_metrics(df1)['map']*100))
    mrrl.append(round(calc_metrics(df1)['mrr']*100))
    srl.append(round(calc_metrics(df1)['avg_sr']*100))
    ndcgl.append(round(calc_metrics(df1)['avg_ndcg']*100))
    p3l.append(round(calc_metrics(df1)['avg_p5']*100))
print('map\t',mapl)
print('mrr\t',mrrl)
print('sr\t',srl)
print('ncdg\t',ndcgl)
print('P3\t',p3l)

Pruned_ 1

                    map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble SCORE  0.48868  0.756436  0.861386  0.753642  0.373267

Pruned_ 2

                     map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble SCORE  0.547917  0.792325  0.907895  0.797703  0.434211

Pruned_ 3

                     map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble SCORE  0.568635  0.795873  0.904762  0.797418  0.468571

Pruned_ 4

                     map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble SCORE  0.576867  0.802008  0.891566  0.796487  0.474699

Pruned_ 5

                     map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble SCORE  0.578974  0.790256  0.876923  0.786747  0.476923

Pruned_ 6

                     map    mrr  avg_sr  avg_ndcg  avg_p5
Ensemble SCORE  0.562467  0.764    0.86   0.75767   0.484

Pruned_ 7

                     map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble SCORE  0.591351  0.784685  0.918919  0.794044  0.524324

Pruned_ 8

                     map       mrr   avg_sr  avg_ndcg   avg_p5
Ensemble SCORE  0.569896  0.751042  0.90625  0.766881  0.51875

Pruned_ 9

                     map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble SCORE  0.592576  0.765152  0.909091  0.790212  0.527273

Pruned_ 10

                  map       mrr  avg_sr  avg_ndcg  avg_p5
Ensemble SCORE  0.457  0.583333     0.8  0.635149    0.46

Pruned_ 11

                  map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble SCORE  0.505  0.611111  0.833333  0.671188  0.566667

Pruned_ 12

                     map       mrr  avg_sr  avg_ndcg  avg_p5
Ensemble SCORE  0.437333  0.533333     0.8   0.61426    0.52

Pruned_ 13

                     map       mrr  avg_sr  avg_ndcg  avg_p5
Ensemble SCORE  0.410833  0.541667    0.75  0.577665    0.45

Pruned_ 14

                     map       mrr  avg_sr  avg_ndcg  avg_p5
Ensemble SCORE  0.547778  0.666667     1.0   0.77022     0.6

Pruned_ 15

                     map   mrr  avg_sr  avg_ndcg  avg_p5
Ensemble SCORE  0.628333  0.75     1.0  0.815465     0.6

Pruned_ 16

                     map   mrr  avg_sr  avg_ndcg  avg_p5
Ensemble SCORE  0.628333  0.75     1.0  0.815465     0.6

Pruned_ 17

                     map   mrr  avg_sr  avg_ndcg  avg_p5
Ensemble SCORE  0.628333  0.75     1.0  0.815465     0.6

map	 [39, 49, 55, 57, 58, 58, 56, 59, 57, 59, 46, 50, 44, 41, 55, 63, 63, 63]
mrr	 [65, 76, 79, 80, 80, 79, 76, 78, 75, 77, 58, 61, 53, 54, 67, 75, 75, 75]
sr	 [74, 86, 91, 90, 89, 88, 86, 92, 91, 91, 80, 83, 80, 75, 100, 100, 100, 100]
ncdg	 [63, 75, 80, 80, 80, 79, 76, 79, 77, 79, 64, 67, 61, 58, 77, 82, 82, 82]
P3	 [30, 37, 43, 47, 47, 48, 48, 52, 52, 53, 46, 57, 52, 45, 60, 60, 60, 60]

In [37]:
# E37 (inshorts 400 sent pairs) top5
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.379877  0.638765  0.740741  0.623903  0.285185

In [38]:
ml = []
for i in range(1,11):
    print('Pruned_',i)
    df1 = pd.read_csv("/home/ritwik/git/AshaQnA/other_codes/Metrics/Data/E_37_pruned_"+str(i)+".csv")
    mat_bin = get_data(df1[["final_1","final_2","final_3","final_4","final_5"]],[1,2])
    display(pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique()))
    ml.append(round(calc_metrics(df1)['avg_sr']*100))
print(ml)

Pruned_ 1

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.464769  0.730033  0.841584  0.725796  0.351485

Pruned_ 2

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.524211  0.775877  0.868421  0.766331  0.403947

Pruned_ 3

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.567651  0.810159  0.885714  0.795083  0.453333

Pruned_ 4

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.580402  0.822088  0.891566  0.807142  0.472289

Pruned_ 5

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.585538  0.813333  0.876923  0.795664  0.489231

Pruned_ 6

                    map       mrr  avg_sr  avg_ndcg  avg_p5
Ensemble wfm_sc  0.6092  0.823333     0.9  0.814509   0.516

Pruned_ 7

                     map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.64955  0.896396  0.945946  0.875443  0.540541

Pruned_ 8

                      map       mrr  avg_sr  avg_ndcg   avg_p5
Ensemble wfm_sc  0.636042  0.895833  0.9375  0.870953  0.51875

Pruned_ 9

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.636667  0.848485  0.909091  0.826412  0.554545

Pruned_ 10

                   map       mrr  avg_sr  avg_ndcg  avg_p5
Ensemble wfm_sc  0.643  0.883333     1.0  0.900259    0.54

[84, 87, 89, 89, 88, 90, 95, 94, 91, 100]

In [93]:
# E31 (inshorts 400 sent pairs)
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.422222  0.575926  0.688889  0.588076  0.362963

In [94]:
ml = []
for i in range(1,11):
    print('Pruned_',i)
    df1 = pd.read_csv("/home/ritwik/git/AshaQnA/other_codes/Metrics/Data/E_31_pruned_"+str(i)+".csv")
    mat_bin = get_data(df1[["final_1","final_2","final_3"]],[1,2])    
    display(pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique()))
    ml.append(round(calc_metrics(df1)['avg_sr']*100))
print(ml)

Pruned_ 1

                      map       mrr   avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.515952  0.684818  0.79703    0.6911  0.443894

Pruned_ 2

                      map       mrr    avg_sr  avg_ndcg  avg_p3
Ensemble wfm_sc  0.573465  0.734649  0.842105  0.733701     0.5

Pruned_ 3

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.602116  0.760317  0.866667  0.752799  0.530159

Pruned_ 4

                      map      mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.607764  0.76506  0.879518  0.757623  0.546185

Pruned_ 5

                     map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.62906  0.779487  0.876923  0.761578  0.564103

Pruned_ 6

                      map  mrr  avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.652222  0.8    0.88  0.772031  0.586667

Pruned_ 7

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.690691  0.846847  0.918919  0.815471  0.612613

Pruned_ 8

                      map       mrr   avg_sr  avg_ndcg   avg_p3
Ensemble wfm_sc  0.682292  0.838542  0.90625  0.803755  0.59375

Pruned_ 9

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.656566  0.787879  0.863636  0.742229  0.606061

Pruned_ 10

                      map       mrr  avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.622222  0.783333     0.9  0.769296  0.566667

[80, 84, 87, 88, 88, 88, 92, 91, 86, 90]

In [98]:
# E33 (inshorts 400 sent pairs) top5
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.376333  0.634691  0.762963  0.625804  0.291852

In [286]:
# E24 (inshorts 400 sent pairs)
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.425103  0.576543  0.677778   0.58605  0.364198

In [360]:
ml = []
for i in range(1,11):
    print('Pruned_',i)
    df1 = pd.read_csv("/home/ritwik/git/AshaQnA/other_codes/Metrics/Data/E_24_pruned_"+str(i)+".csv")
    mat_bin = get_data(df1[["final_1","final_2","final_3"]],[1,2])    
    display(pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique()))
    ml.append(round(calc_metrics(df1)['avg_sr']*100))
print(ml)

Pruned_ 1

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.515677  0.679868  0.782178  0.684089  0.445545

Pruned_ 2

                     map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.57383  0.730263  0.828947  0.727673  0.504386

Pruned_ 3

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.600529  0.749206  0.847619  0.738299  0.539683

Pruned_ 4

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.610442  0.761044  0.855422  0.744905  0.554217

Pruned_ 5

                     map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.62906  0.771795  0.861538  0.747053  0.579487

Pruned_ 6

                      map       mrr  avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.651111  0.783333    0.84  0.744754  0.593333

Pruned_ 7

                      map      mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.681682  0.81982  0.864865  0.777242  0.612613

Pruned_ 8

                      map       mrr   avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.668403  0.807292  0.84375     0.768  0.583333

Pruned_ 9

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.679293  0.810606  0.863636  0.775256  0.606061

Pruned_ 10

                      map       mrr  avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.655556  0.833333     0.9  0.822156  0.566667

[78, 83, 85, 86, 86, 84, 86, 84, 86, 90]

In [349]:
# E25 (asha_sentsim dataset)
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map      mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.428189  0.58642  0.688889   0.59684  0.364198

In [351]:
ml = []
for i in range(1,11):
    print('Pruned_',i)
    df1 = pd.read_csv("/home/ritwik/git/AshaQnA/other_codes/Metrics/Data/E_25_pruned_"+str(i)+".csv")
    mat_bin = get_data(df1[["final_1","final_2","final_3"]],[1,2])    
    display(pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique()))
    ml.append(round(calc_metrics(df1)['avg_sr']*100))
print(ml)

Pruned_ 1

                      map      mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.525853  0.70297  0.806931  0.708413  0.448845

Pruned_ 2

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.577485  0.745614  0.842105  0.742913  0.502193

Pruned_ 3

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.609524  0.774603  0.866667  0.760696  0.542857

Pruned_ 4

                      map       mrr   avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.609772  0.769076  0.86747  0.753719  0.558233

Pruned_ 5

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.623077  0.784615  0.892308  0.776387  0.569231

Pruned_ 6

                      map       mrr  avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.648889  0.796667     0.9  0.782701  0.606667

Pruned_ 7

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.689189  0.851351  0.972973  0.844127  0.648649

Pruned_ 8

                      map       mrr   avg_sr  avg_ndcg  avg_p3
Ensemble wfm_sc  0.666667  0.828125  0.96875  0.840953   0.625

Pruned_ 9

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.681818  0.840909  0.954545  0.830582  0.636364

Pruned_ 10

                  map       mrr  avg_sr  avg_ndcg  avg_p3
Ensemble wfm_sc  0.65  0.866667     1.0  0.856203     0.6

[81, 84, 87, 87, 89, 90, 97, 97, 95, 100]

In [442]:
# E29 top5 (inshorts 400 sent pairs)
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.377765  0.643951  0.759259  0.628552  0.294074

In [443]:
ml = []
for i in range(1,11):
    print('Pruned_',i)
    df1 = pd.read_csv("/home/ritwik/git/AshaQnA/other_codes/Metrics/Data/E_29_pruned_"+str(i)+".csv")
    mat_bin = get_data(df1[["final_1","final_2","final_3","final_4","final_5"]],[1,2])   
    display(pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique()))
    ml.append(round(calc_metrics(df1)['avg_sr']*100))
print(ml)

Pruned_ 1

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.461782  0.737294  0.866337  0.732186  0.363366

Pruned_ 2

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.519211  0.780921  0.907895  0.776319  0.418421

Pruned_ 3

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.559238  0.810794  0.914286  0.798182  0.462857

Pruned_ 4

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.575944  0.826506  0.927711  0.814273  0.489157

Pruned_ 5

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.574769  0.809231  0.923077  0.801818  0.504615

Pruned_ 6

                      map       mrr  avg_sr  avg_ndcg  avg_p5
Ensemble wfm_sc  0.599067  0.830667    0.92  0.813941   0.532

Pruned_ 7

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.638108  0.882883  0.945946  0.855237  0.562162

Pruned_ 8

                      map       mrr  avg_sr  avg_ndcg  avg_p5
Ensemble wfm_sc  0.620521  0.880208  0.9375  0.847362  0.5375

Pruned_ 9

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.642576  0.871212  0.909091  0.825306  0.572727

Pruned_ 10

                      map       mrr  avg_sr  avg_ndcg  avg_p5
Ensemble wfm_sc  0.637667  0.883333     1.0  0.858315    0.58

[87, 91, 91, 93, 92, 92, 95, 94, 91, 100]

In [448]:
# E30 top5 (asha_sentsim dataset)
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.377914  0.632099  0.774074  0.629845  0.298519

In [449]:
ml = []
for i in range(1,11):
    print('Pruned_',i)
    df1 = pd.read_csv("/home/ritwik/git/AshaQnA/other_codes/Metrics/Data/E_30_pruned_"+str(i)+".csv")
    mat_bin = get_data(df1[["final_1","final_2","final_3","final_4","final_5"]],[1,2])   
    display(pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique()))
    ml.append(round(calc_metrics(df1)['avg_sr']*100))
print(ml)

Pruned_ 1

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.459752  0.723927  0.861386  0.724582  0.364356

Pruned_ 2

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.513684  0.765132  0.894737  0.762304  0.417105

Pruned_ 3

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.556222  0.799365  0.904762  0.785425  0.462857

Pruned_ 4

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.571847  0.814458  0.915663  0.797438  0.486747

Pruned_ 5

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.586615  0.816923  0.923077  0.802137  0.513846

Pruned_ 6

                      map       mrr  avg_sr  avg_ndcg  avg_p5
Ensemble wfm_sc  0.605067  0.837333    0.92  0.813754   0.532

Pruned_ 7

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.642252  0.888288  0.972973  0.863557  0.578378

Pruned_ 8

                      map       mrr   avg_sr  avg_ndcg   avg_p5
Ensemble wfm_sc  0.627396  0.886458  0.96875  0.856595  0.55625

Pruned_ 9

                      map      mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.654545  0.90303  0.954545  0.852361  0.590909

Pruned_ 10

                   map   mrr  avg_sr  avg_ndcg  avg_p5
Ensemble wfm_sc  0.657  0.95     1.0  0.887234    0.56

[86, 89, 90, 92, 92, 92, 97, 97, 95, 100]

### Old

In [123]:
# E1
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg   avg_p3
Ensemble wfm_sc  0.388272  0.549383  0.681481  0.580137  0.32963

In [126]:
# E2
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.394856  0.548765  0.674074  0.578804  0.341975

In [131]:
# E9 | E3_pruned1
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr   avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.514026  0.693069  0.79703  0.713643  0.358025

In [134]:
# E10 | E3_pruned2
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.564693  0.736842  0.828947  0.751985  0.486842

In [164]:
# E12 | E3_pruned3
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.580423  0.739683  0.819048  0.751001  0.507937

In [158]:
# E13 | E3_pruned4
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.605756  0.763052  0.843373  0.775109  0.534137

In [161]:
# E14 | E3_pruned5
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                     map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.62906  0.779487  0.861538  0.792225  0.564103

In [167]:
# E15 | E3_pruned6
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr  avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.652222  0.803333    0.88  0.812393  0.586667

In [170]:
# E16 | E3_pruned7
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.683183  0.846847  0.918919  0.853696  0.603604

In [173]:
# E17 | E3_pruned8
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr   avg_sr  avg_ndcg   avg_p3
Ensemble wfm_sc  0.671875  0.838542  0.90625   0.84237  0.59375

In [176]:
# E18 | E3_pruned9
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.722222  0.886364  0.954545  0.888005  0.666667

In [179]:
# E19 | E3_pruned10
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map   mrr  avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.755556  0.95     1.0  0.939009  0.666667

In [129]:
# E3
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                     map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.42428  0.588272  0.692593  0.610409  0.358025

In [220]:
# E20 | top5 version of E3
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg   avg_p3
Ensemble wfm_sc  0.372556  0.622716  0.755556  0.618253  0.28963

In [152]:
# E11
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.422222  0.577778  0.685185  0.601864  0.355556

In [137]:
# E8
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg   avg_p3
Ensemble wfm_sc  0.418313  0.577778  0.692593  0.603078  0.35679

In [140]:
# E4
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg   avg_p3
Ensemble wfm_sc  0.426337  0.582716  0.692593  0.608499  0.35679

In [143]:
# E5
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.406379  0.561728  0.685185  0.591304  0.350617

In [146]:
# E6
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                 map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble ns  0.39177  0.546914  0.655556  0.571552  0.334568

In [149]:
# E7
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                  map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble ns  0.348765  0.496296  0.648148  0.533741  0.318519

In [46]:
# E21
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                     map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.30679  0.439506  0.525926  0.459216  0.251852

## BERT_spc

### asha

In [154]:
# asha sentsim
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_53_final  0.015021  0.030864  0.062963  0.038977  0.020988

In [158]:
# asha sentsim
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                         map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_53_epoch0  0.388683  0.529012  0.603704  0.544888  0.323457

In [219]:
# asha sentsim REPEATED
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_61_final  0.015021  0.030864  0.062963  0.038977  0.323457

In [217]:
# asha sentsim REPEATED
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_61_epoch_0  0.388683  0.529012  0.603704  0.544888  0.323457

In [354]:
# asha sentsim | added answer
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

,map,mrr,avg_sr,avg_ndcg,avg_p3
BERT_spc_61_epoch_0_added_answer,0.320165,0.44321,0.518519,0.459437,0.264198

In [79]:
# asha sentsim REPEATED again
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_77_epoch_0  0.405144  0.545679  0.607407   0.55653  0.332099

In [431]:
# asha sentsim top5
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map       mrr    avg_sr  avg_ndcg    avg_p5
BERT_spc_61_epoch_0  0.345173  0.586543  0.703704  0.576941  0.268148

In [65]:
# asha sentsim REPEATED
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_61_epoch_1  0.3393  0.474074  0.585185  0.498294  0.297531

In [68]:
# asha sentsim REPEATED
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map      mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_61_epoch_2  0.284774  0.40679  0.492593  0.426379  0.239506

In [41]:
# asha sentsim | NEW CODE with activation = identity | BERT last 2
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_72_final  0.162346  0.253704  0.355556  0.278075  0.151852

In [38]:
# asha sentsim | NEW CODE with activation = identity | BERT last 2
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_72_epoch_0  0.204733  0.298148  0.362963  0.313448  0.167901

In [44]:
# asha sentsim | NEW CODE with activation = identity | BERT first 2
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_73_final  0.010288  0.016049  0.022222  0.017637  0.008642

In [47]:
# asha sentsim | NEW CODE with activation = identity | BERT first 2
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_73_epoch_0  0.009465  0.016049  0.018519  0.016667  0.006173

In [161]:
# asha sentsim
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                       map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_53_epoch1  0.3393  0.474074  0.585185  0.498294  0.297531

In [20]:
# REPEATED with max_len 100 ---> 200
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_81_final  0.076132  0.125309  0.181481  0.139913  0.069136

In [24]:
# REPEATED with max_len 100 ---> 200
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_81_epoch_0  0.394239  0.541975  0.611111  0.555933  0.319753

In [41]:
# REPEATED with max_len 100 ---> 300
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map       mrr    avg_sr  avg_ndcg   avg_p3
BERT_spc_84_epoch_0  0.401235  0.545062  0.618519  0.560672  0.32963

In [45]:
# REPEATED with max_len 100 ---> 300 (during training) but 100 during testing
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

,map,mrr,avg_sr,avg_ndcg,avg_p3
BERT_spc_84_epoch_0_max_len_100,0.401852,0.545679,0.618519,0.561157,0.32963

In [ ]:
# REPEATED with max_len 100 ---> 400
# gives CUDA memory error

### 400 sentence pairs

In [198]:
# 400 sentence pairs
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_58_final  0.081687  0.135185  0.203704  0.151202  0.080247

In [201]:
# 400 sentence pairs
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map       mrr    avg_sr  avg_ndcg   avg_p3
BERT_spc_58_epoch_0  0.277984  0.403704  0.514815  0.431151  0.24321

In [213]:
# 400 sentence pairs REPEATED
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_60_final  0.081687  0.135185  0.203704  0.151202  0.080247

In [210]:
# 400 sentence pairs REPEATED
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map       mrr    avg_sr  avg_ndcg   avg_p3
BERT_spc_60_epoch_0  0.277984  0.403704  0.514815  0.431151  0.24321

In [222]:
# 400 sentence pairs | not random negatives
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr  avg_sr  avg_ndcg    avg_p3
BERT_spc_62_final  0.125103  0.203086     0.3  0.226565  0.119753

In [225]:
# 400 sentence pairs | not random negatives
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map      mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_62_epoch_0  0.337037  0.46358  0.555556  0.486497  0.285185

In [334]:
# 400 sentence pairs | not random negatives | top5
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_62_epoch_0  0.302889  0.529877  0.655556  0.522409  0.242222

In [71]:
# 400 sentence pairs | not random negatives
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_62_epoch_1  0.2607  0.380247  0.474074   0.40116  0.228395

In [74]:
# 400 sentence pairs | not random negatives
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map  mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_62_epoch_2  0.205761  0.3  0.374074  0.318838  0.176543

In [228]:
# 400 sentence pairs | indic/albert
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                     map  mrr  avg_sr  avg_ndcg  avg_p3
BERT_spc_63_epoch_0  0.0  0.0     0.0       0.0     0.0

In [231]:
# 400 sentence pairs | xlm-roberta-base
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_64_epoch_0  0.109465  0.166667  0.207407  0.176411  0.087654

In [234]:
# 400 sentence pairs | xlm-mlm-xnli15-1024
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                     map  mrr  avg_sr  avg_ndcg  avg_p3
BERT_spc_65_epoch_0  0.0  0.0     0.0       0.0     0.0

In [237]:
# 400 sentence pairs | xlm-mlm-xnli15-1024
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                     map  mrr  avg_sr  avg_ndcg  avg_p3
BERT_spc_66_epoch_0  0.0  0.0     0.0       0.0     0.0

In [240]:
# 400 sentence pairs | bert-base-multilingual-uncased | not random negatives
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_67_epoch_0  0.276337  0.404321  0.514815  0.429279  0.241975

In [22]:
# 400 sentence pairs | not random negatives | NEW CODE with activation = identity
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr    avg_sr  avg_ndcg   avg_p3
BERT_spc_69_final  0.146914  0.224691  0.296296  0.242196  0.12963

In [18]:
# 400 sentence pairs | not random negatives | NEW CODE with activation = identity
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map       mrr   avg_sr  avg_ndcg    avg_p3
BERT_spc_69_epoch_0  0.147119  0.219136  0.27037  0.230909  0.120988

In [26]:
# 400 sentence pairs | not random negatives | NEW CODE with activation = identity
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_70_final  0.005144  0.009877  0.018519  0.012081  0.006173

In [29]:
# 400 sentence pairs | not random negatives | NEW CODE with activation = identity
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map      mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_70_epoch_0  0.003704  0.00679  0.011111  0.007892  0.003704

In [35]:
# 400 sentence pairs | not random negatives | NEW CODE with activation = identity
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_71_final  0.128395  0.201235  0.255556  0.214121  0.103704

In [32]:
# 400 sentence pairs | not random negatives | NEW CODE with activation = identity
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_71_epoch_0  0.093827  0.151235  0.207407  0.165454  0.081481

In [82]:
# 400 sentence pairs | not random negatives | REPEATED
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                         map      mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_76_epoch_0  0.33642  0.46358  0.555556  0.486199  0.285185

In [7]:
# 400 sentence pairs | not random negatives | REPEATED with optim placed outside
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                         map      mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_79_epoch_0  0.33642  0.46358  0.555556  0.486199  0.285185

In [11]:
# 400 sentence pairs | not random negatives | REPEATED with max_len 100 ---> 200
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_80_final  0.095679  0.153704  0.222222  0.172155  0.088889

In [6]:
# 400 sentence pairs | not random negatives | REPEATED with max_len 100 ---> 200
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map       mrr    avg_sr  avg_ndcg   avg_p3
BERT_spc_80_epoch_0  0.333745  0.465432  0.562963  0.488823  0.28642

In [15]:
# 400 sentence pairs | not random negatives | REPEATED with max_len 100 ---> 200
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_80_epoch_1  0.241564  0.343827  0.440741  0.366723  0.220988

In [28]:
# 400 sentence pairs | not random negatives | REPEATED with max_len 100 ---> 300
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_82_final  0.155967  0.239506  0.325926  0.260461  0.141975

In [32]:
# 400 sentence pairs | not random negatives | REPEATED with max_len 100 ---> 300
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map      mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_82_epoch_0  0.330864  0.45679  0.559259  0.480909  0.288889

In [57]:
# 400 sentence pairs | not random negatives | REPEATED with max_len 100 ---> 300 during training but 100 during testing
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

,map,mrr,avg_sr,avg_ndcg,avg_p3
BERT_spc_82_epoch_0_max_len_100,0.333745,0.461728,0.562963,0.484966,0.290123

In [63]:
# 400 sentence pairs | WITH random negatives | REPEATED with max_len 100 ---> 300 during training but 100 during testing
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_93_epoch_0  0.241975  0.359877  0.477778  0.389991  0.222222

In [67]:
# 400 sentence pairs | WITH random negatives | REPEATED with max_len 100 ---> 300 during training but 100 during testing
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_93_epoch_1  0.296502  0.425309  0.544444  0.456182  0.258025

In [10]:
# 400 sentence pairs | not random negatives | REPEATED with max_len 100 ---> 300 during training but 100 during testing
# 20 epochs
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_94_epoch_0  0.333745  0.461728  0.562963  0.484966  0.290123

In [54]:
# 400 sentence pairs | not random negatives | REPEATED with max_len 100 ---> 300 during training but 100 during testing
# added_answer
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

,map,mrr,avg_sr,avg_ndcg,avg_p3
BERT_spc_94_epoch_0_added_answer,0.288683,0.403086,0.481481,0.421077,0.241975

In [20]:
# 400 sentence pairs | not random negatives | REPEATED with max_len 100 ---> 300 during training but 100 during testing
# 20 epochs
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                       map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_94_best  0.167078  0.257407  0.348148  0.280081  0.149383

In [15]:
# 400 sentence pairs | not random negatives | REPEATED with max_len 100 ---> 300 during training but 100 during testing
# 20 epochs
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_94_final  0.168107  0.253086  0.325926  0.270117  0.146914

In [7]:
# 1230 random seed
# 400 sentence pairs | not random negatives | REPEATED with max_len 100 ---> 300 during training but 100 during testing
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_88_epoch_0  0.019753  0.033951  0.051852  0.038492  0.018519

In [11]:
# 1230 random seed
# 400 sentence pairs | not random negatives | REPEATED with max_len 100 ---> 300 during training but 100 during testing
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_88_final  0.164815  0.245679  0.307407   0.26089  0.133333

In [85]:
# 400 sentence pairs | not random negatives | REPEATED with max_len 100 ---> 300 during training but 100 during testing
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

,map,mrr,avg_sr,avg_ndcg,avg_p3
BERT_spc_82_final_max_len_100,0.155967,0.238889,0.325926,0.260802,0.141975

In [89]:
# 400 sentence pairs | not random negatives | REPEATED with max_len 100 ---> 300 during training but 100 during testing
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

,map,mrr,avg_sr,avg_ndcg,avg_p3
BERT_spc_82_epoch_1_max_len_100,0.24856,0.35679,0.451852,0.380434,0.216049

In [65]:
# 400 different sentence pairs | baaki sab same as 82_epoch_0_max_len_100
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

,map,mrr,avg_sr,avg_ndcg,avg_p3
BERT_spc_85_epoch_0_max_len_100,0.280864,0.406173,0.5,0.427096,0.237037

In [70]:
# 400 sentence pairs | not random negatives | REPEATED with max_len 100 ---> 300 during training but 100 during testing
# top5
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

,map,mrr,avg_sr,avg_ndcg,avg_p5
BERT_spc_82_epoch_0_max_len_100_top5,0.299284,0.530123,0.62963,0.506752,0.237778

In [78]:
# 400 sentence pairs | not random negatives | REPEATED with max_len 100 ---> 300 during training but 100 during testing
# last_two
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

,map,mrr,avg_sr,avg_ndcg,avg_p3
BERT_spc_86_epoch_0_max_len_100,0.073045,0.12716,0.203704,0.14667,0.07284

In [81]:
# 400 sentence pairs | not random negatives | REPEATED with max_len 100 ---> 300 during training but 100 during testing
# first_two
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

,map,mrr,avg_sr,avg_ndcg,avg_p3
BERT_spc_87_epoch_0_max_len_100,0.00535,0.009877,0.014815,0.011111,0.004938

In [53]:
# 400 sentence pairs | not random negatives | REPEATED with max_len 100 ---> 400
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_83_final  0.107819  0.172222  0.248148  0.190719  0.104938

In [37]:
# 400 sentence pairs | not random negatives | REPEATED with max_len 100 ---> 400
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_83_epoch_0  0.338066  0.465432  0.574074  0.492086  0.297531

In [49]:
# 400 sentence pairs | not random negatives | REPEATED with max_len 100 ---> 400 during training but 100 during testing
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

,map,mrr,avg_sr,avg_ndcg,avg_p3
BERT_spc_83_epoch_0_max_len_100,0.336831,0.464815,0.574074,0.491833,0.297531

### all sentence pairs

In [6]:
# 695 epoch 3
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

               map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc  0.394033  0.546914  0.662963  0.571851  0.346914

In [8]:
# 695 epoch 3 QE
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

               map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc  0.391975  0.542593  0.644444  0.565214  0.346914

In [10]:
# 695 epoch 3 with answers
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

               map      mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc  0.311934  0.42284  0.496296  0.439552  0.346914

In [11]:
# 401 epoch 3
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

               map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc  0.404115  0.545062  0.651852  0.570955  0.353086

In [21]:
# 401 epoch 3_QE
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

          map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc  0.4  0.546296  0.640741  0.568046  0.340741

In [23]:
# 401 epoch 3 with Answers
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

               map       mrr   avg_sr  avg_ndcg    avg_p3
BERT_spc  0.306996  0.426543  0.52963  0.451962  0.340741

In [6]:
# 401 epoch 3 random negs off inshorts
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

               map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc  0.223251  0.327778  0.414815  0.347763  0.193827

In [7]:
# 178_epoch_0
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

,map,mrr,avg_sr,avg_ndcg,avg_p3
BERT_spc_mbert_lhsAvg_cos_nosig_fullDataset_ep1,0.338477,0.474074,0.592593,0.504716,0.295062

In [11]:
# 178_epoch_0_QE
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

,map,mrr,avg_sr,avg_ndcg,avg_p3
BERT_spc_mbert_lhsAvg_cos_nosig_fullDataset_ep1,0.301852,0.424074,0.511111,0.444501,0.259259

In [15]:
# 178_epoch_0 with Answers
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

               map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc  0.290329  0.416049  0.522222  0.441996  0.246914

In [19]:
# 123 random seed
# all sentence pairs | not random negatives | REPEATED with max_len 100 ---> 300 during training but 100 during testing
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map      mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_89_epoch_0  0.003498  0.00679  0.014815  0.008862  0.004938

In [27]:
# 123 random seed
# all sentence pairs | not random negatives | REPEATED with max_len 100 ---> 300 during training but 100 during testing
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                         map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_89_epoch_1  0.00144  0.003086  0.007407  0.004189  0.002469

In [15]:
# 123 random seed
# all sentence pairs | not random negatives | REPEATED with max_len 100 ---> 300 during training but 100 during testing
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_89_final  0.002263  0.003704  0.003704  0.003704  0.001235

In [23]:
# 1230 random seed
# all sentence pairs | not random negatives | REPEATED with max_len 100 ---> 300 during training but 100 during testing
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_90_epoch_0  0.001235  0.003704  0.011111  0.005556  0.003704

In [31]:
# 1230 random seed
# all sentence pairs | not random negatives | REPEATED with max_len 100 ---> 300 during training but 100 during testing
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_90_epoch_1  0.002263  0.003704  0.003704  0.003704  0.001235

In [39]:
# 123 random seed
# all sentence pairs | not random negatives | REPEATED with max_len 100 ---> 300 during training but 100 during testing
# first_two
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                         map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_91_epoch_0  0.00535  0.009877  0.014815  0.011111  0.004938

In [43]:
# 123 random seed
# all sentence pairs | not random negatives | REPEATED with max_len 100 ---> 300 during training but 100 during testing
# first_two
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                         map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_91_epoch_1  0.00535  0.009877  0.014815  0.011111  0.004938

In [59]:
# 123 random seed
# all sentence pairs | not random negatives | REPEATED with max_len 100 ---> 300 during training but 100 during testing
# first_two
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                       map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_91_final  0.00535  0.009877  0.014815  0.011111  0.004938

In [47]:
# 123 random seed
# all sentence pairs | not random negatives | REPEATED with max_len 100 ---> 300 during training but 100 during testing
# last_two
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_92_epoch_0  0.006173  0.010494  0.018519  0.012797  0.007407

In [51]:
# 123 random seed
# all sentence pairs | not random negatives | REPEATED with max_len 100 ---> 300 during training but 100 during testing
# last_two
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_92_epoch_1  0.009053  0.014198  0.022222   0.01627  0.008642

In [55]:
# 123 random seed
# all sentence pairs | not random negatives | REPEATED with max_len 100 ---> 300 during training but 100 during testing
# last_two
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_92_final  0.002263  0.004321  0.011111  0.006272  0.004938

### Rest

In [189]:
# top5
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

               map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc  0.285753  0.517778  0.644444  0.506727  0.220741

In [77]:
# 19
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

               map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc  0.317695  0.449383  0.559259  0.476708  0.275309

In [40]:
# oracle for cat
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                                 map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_oracle_categories  0.289095  0.417284  0.488889  0.433797  0.228395

In [33]:
# 19 repeat
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_31_final  0.139506  0.209877  0.292593   0.23028  0.133333

In [80]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_26_final  0.224897  0.332716  0.407407  0.351355  0.183951

In [85]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                  map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_27  0.159465  0.237654  0.337037  0.263446  0.150617

In [50]:
# pruned 1
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

               map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc  0.384213  0.529703  0.643564  0.557742  0.333333

In [53]:
# _pruned_2
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

               map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc  0.425073  0.570175  0.697368  0.602502  0.377193

In [71]:
# 19 added words
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_added_words  0.30679  0.435185  0.544444  0.459559  0.266667

In [88]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                  map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_28  0.006379  0.012346  0.025926  0.016016  0.009877

In [68]:
# 19 added answer
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                            map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_added_answer  0.201646  0.295679  0.381481   0.31714  0.175309

In [91]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                  map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_24  0.002247  0.003676  0.003676  0.003676  0.001225

In [64]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                 map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_22  0.00817  0.014093  0.006127  0.015187  0.006127

In [68]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                  map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_23  0.042484  0.071691  0.042892  0.081911  0.042892

In [99]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map      mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_25_final  0.003676  0.00674  0.003676  0.007834  0.003676

In [16]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                   map  mrr  avg_sr  avg_ndcg  avg_p3
BERT_spc_35_final  0.0  0.0     0.0       0.0     0.0

In [19]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_37_final  0.002675  0.004938  0.007407  0.005556  0.002469

In [22]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_38_final  0.177984  0.273457  0.355556  0.294135  0.150617

In [25]:
# 19 repeat lower alpha
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr   avg_sr  avg_ndcg  avg_p3
BERT_spc_39_final  0.110494  0.170988  0.22963  0.184547     0.1

In [28]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_40_final  0.005967  0.010494  0.014815  0.011596  0.004938

In [31]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map      mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_41_final  0.049383  0.07716  0.114815  0.087279  0.048148

In [34]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_42_final  0.002263  0.003704  0.003704  0.003704  0.001235

In [37]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_43_final  0.014609  0.027778  0.048148  0.032936  0.016049

In [40]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_44_final  0.035802  0.061111  0.092593  0.069091  0.033333

In [43]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_45_final  0.026749  0.042593  0.066667  0.048655  0.028395

In [46]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                         map      mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_45_epoch1  0.113786  0.17963  0.251852  0.198434  0.102469

In [15]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                         map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_46_epoch0  0.059259  0.102469  0.159259   0.11627  0.059259

In [18]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                         map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_46_epoch1  0.054321  0.091975  0.137037  0.103351  0.051852

In [21]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                         map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_47_epoch1  0.026543  0.042593  0.062963  0.047244  0.025926

In [24]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr    avg_sr  avg_ndcg   avg_p3
BERT_spc_47_final  0.025103  0.044444  0.074074  0.051962  0.02716

In [27]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                         map      mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_48_epoch3  0.003704  0.00679  0.011111  0.007892  0.003704

In [129]:
# trained for 10 iterations
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                         map       mrr   avg_sr  avg_ndcg    avg_p3
BERT_spc_49_epoch0  0.231687  0.348148  0.47037   0.37791  0.209877

In [132]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                             map       mrr  avg_sr  avg_ndcg    avg_p3
BERT_spc_not_finetuned  0.145679  0.224691     0.3  0.243738  0.125926

In [135]:
# all sentence pairs
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr   avg_sr  avg_ndcg    avg_p3
BERT_spc_49_final  0.016667  0.024074  0.02963  0.025694  0.014815

In [141]:
# all sentence pairs
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                         map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_49_epoch0  0.038477  0.068519  0.111111  0.078814  0.039506

In [138]:
# all sentence pairs
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                         map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_49_epoch1  0.003292  0.005556  0.007407   0.00604  0.002469

In [56]:
# all sentence pairs | BERT first 2 layers
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                   map  mrr  avg_sr  avg_ndcg  avg_p3
BERT_spc_74_final  0.0  0.0     0.0       0.0     0.0

In [53]:
# all sentence pairs | BERT first 2 layers
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_74_epoch_0  0.002675  0.004938  0.007407  0.005556  0.002469

In [59]:
# all sentence pairs | BERT last 2 layers
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_75_final  0.020165  0.033333  0.044444  0.036155  0.016049

In [62]:
# all sentence pairs | BERT last 2 layers
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_75_epoch_0  0.010288  0.018519  0.033333  0.022542  0.012346

In [144]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                         map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_50_epoch4  0.004115  0.008025  0.014815  0.009744  0.004938

In [147]:
# 128 sentence pairs
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                       map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_52_final  0.22284  0.335802  0.451852  0.365773  0.203704

In [151]:
# 128 sentence pairs
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_52_epoch_0  0.207819  0.324074  0.451852  0.355963  0.190123

In [164]:
# 128 sentence pairs
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                         map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_52_epoch1  0.226132  0.348148  0.462963  0.376389  0.202469

In [167]:
# 64 sentence pairs
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_54_final  0.139095  0.214198  0.303704  0.237686  0.132099

In [171]:
# 64 sentence pairs
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                     map  mrr  avg_sr  avg_ndcg  avg_p3
BERT_spc_54_epoch_0  0.0  0.0     0.0       0.0     0.0

In [174]:
# 64 sentence pairs
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                         map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_54_epoch_1  0.03642  0.062963  0.092593  0.070161  0.033333

In [177]:
# 32 sentence pairs
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_55_final  0.209465  0.322222  0.437037  0.349978  0.191358

In [180]:
# 32 sentence pairs
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_55_epoch_0  0.190741  0.293827  0.385185  0.317403  0.159259

In [183]:
# 200 sentence pairs
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_56_final  0.222016  0.332716  0.459259  0.366202  0.208642

In [186]:
# 200 sentence pairs
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_56_epoch_0  0.240123  0.364198  0.496296  0.395868  0.225926

In [189]:
# 200 sentence pairs
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_56_epoch_1  0.166255  0.257407  0.374074  0.288181  0.158025

In [192]:
# 250 sentence pairs
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                       map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_57_final  0.23786  0.353086  0.474074  0.384952  0.217284

In [195]:
# 250 sentence pairs
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_57_epoch_0  0.177572  0.270988  0.385185  0.301619  0.171605

In [207]:
# 1k sentence pairs
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_59_final  0.072016  0.117284  0.185185  0.134291  0.075309

In [204]:
# 1k sentence pairs
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_59_epoch_0  0.259259  0.385802  0.492593  0.410263  0.225926

## BERT_sim

In [6]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                                map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_sim_mbert_cls_cosine  0.042798  0.069753  0.092593   0.07608  0.035802

In [10]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                                   map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_sim_mbert_lhsAvg_cosine  0.068519  0.112346  0.137037  0.118694  0.048148

In [14]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                                map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_sim_mbert_pool_cosine  0.01893  0.033333  0.048148  0.037125  0.016049

In [18]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

,map,mrr,avg_sr,avg_ndcg,avg_p3
BERT_sim_mbert_first_two_cosine,0.052058,0.082099,0.103704,0.087929,0.039506

In [26]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

,map,mrr,avg_sr,avg_ndcg,avg_p3
BERT_sim_mbert_last_two_cosine,0.053909,0.083951,0.107407,0.089947,0.04321

In [30]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                                map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_sim_mbert_lhsAvg_add  0.000412  0.001235  0.003704  0.001852  0.001235

In [34]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                           map  mrr  avg_sr  avg_ndcg  avg_p3
BERT_sim_mbert_lhsAvg_cat  0.0  0.0     0.0       0.0     0.0

In [38]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

,map,mrr,avg_sr,avg_ndcg,avg_p3
BERT_sim_mbert_lhsAvg_add_nosig,0.010082,0.016667,0.018519,0.017152,0.006173

In [42]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

,map,mrr,avg_sr,avg_ndcg,avg_p3
BERT_sim_mbert_lhsAvg_cos_nosig,0.150412,0.228395,0.274074,0.238129,0.116049

In [18]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

,map,mrr,avg_sr,avg_ndcg,avg_p3
BERT_sim_mbert_lhsAvg_cos_nosig_fullDataset_ep1,0.092181,0.13642,0.174074,0.145943,0.076543

In [14]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

,map,mrr,avg_sr,avg_ndcg,avg_p3
BERT_sim_albert_lhsAvg_cos_nosig,0.064403,0.104938,0.12963,0.110989,0.046914

In [22]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                                      map  mrr   avg_sr  avg_ndcg    avg_p3
BERT_sim_muril_lhsAvg_cos_nosig  0.062757  0.1  0.12963  0.107286  0.049383

In [26]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

,map,mrr,avg_sr,avg_ndcg,avg_p3
BERT_sim_mbert_uncased_lhsAvg_cos_nosig,0.136008,0.206173,0.248148,0.216204,0.106173

In [30]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

,map,mrr,avg_sr,avg_ndcg,avg_p3
BERT_sim_mbert_lhsAvg_cos_nosig_best,0.079424,0.120988,0.140741,0.124846,0.060494

In [34]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

,map,mrr,avg_sr,avg_ndcg,avg_p3
BERT_sim_mbert_lhsAvg_cos_nosig_final,0.079424,0.120988,0.140741,0.124846,0.060494

In [50]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                              map  mrr  avg_sr  avg_ndcg  avg_p3
BERT_sim_mbert_cls_cat_nosig  0.0  0.0     0.0       0.0     0.0

In [46]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                                 map  mrr  avg_sr  avg_ndcg  avg_p3
BERT_sim_mbert_lhsAvg_cat_nosig  0.0  0.0     0.0       0.0     0.0

In [58]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                                    map  mrr  avg_sr  avg_ndcg  avg_p3
BERT_sim_mbert_first_two_cat_nosig  0.0  0.0     0.0       0.0     0.0

In [6]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                                   map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_sim_mbert_cls_add_nosig  0.004527  0.007407  0.007407  0.007407  0.002469

In [10]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

,map,mrr,avg_sr,avg_ndcg,avg_p3
BERT_sim_mbert_first_two_add_nosig,0.002263,0.003704,0.003704,0.003704,0.001235

In [14]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

,map,mrr,avg_sr,avg_ndcg,avg_p3
BERT_sim_mbert_pool_add_nosig,0.003292,0.005556,0.007407,0.00604,0.002469

In [18]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                              map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_sim_mbert_rand_neg  0.002263  0.003704  0.003704  0.003704  0.001235

In [23]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                         map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_sim_mbert_33k  0.000412  0.001235  0.003704  0.001852  0.001235

In [27]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                                   map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_sim_indic_bert_rand_neg  0.002675  0.004938  0.007407  0.005556  0.002469

In [30]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                              map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_sim_muril_rand_neg  0.001852  0.004321  0.011111   0.00604  0.003704

In [6]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map  mrr  avg_sr  avg_ndcg  avg_p3
BERT_sim_mbert_df.h5  0.0  0.0     0.0       0.0     0.0

In [6]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                                 map      mrr    avg_sr  avg_ndcg    avg_p3
BERT_sim_mbert_exp6_epoch0  0.003704  0.00679  0.011111  0.007892  0.003704

In [11]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                                map  mrr  avg_sr  avg_ndcg  avg_p3
BERT_sim_mbert_exp6_epoch_last  0.0  0.0     0.0       0.0     0.0

## BERT_cos

In [114]:
# pruned 1
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                           map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_cos_added_words  0.329483  0.459571  0.559406   0.48107  0.285479

In [59]:
# pruned_2
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                           map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_cos_added_words  0.380117  0.516447  0.631579  0.541161  0.337719

In [117]:
# pruned 1
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                     map       mrr    avg_sr  avg_ndcg   avg_p3
BERT_cos_mpnet  0.353685  0.513201  0.633663  0.540564  0.30363

In [120]:
# pruned 2
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                     map       mrr    avg_sr  avg_ndcg   avg_p3
BERT_cos_mpnet  0.400585  0.570175  0.703947  0.599805  0.35307

In [186]:
# top5
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                           map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_cos_added_words  0.241136  0.462469  0.555556  0.432554  0.193333

In [104]:
# added_words
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                     map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_cos_mpnet  0.279835  0.410494  0.511111  0.433655  0.239506

In [46]:
# without added_words
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                                 map       mrr    avg_sr  avg_ndcg   avg_p3
BERT_cos_mpnet_without_a_w  0.265844  0.387037  0.477778   0.40894  0.22716

In [19]:
# added_words
# top5
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                            map      mrr    avg_sr  avg_ndcg    avg_p5
BERT_cos_added_w_mpnet  0.25316  0.48679  0.577778  0.453182  0.202222

In [94]:
# added_words
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_cos_minilm  0.280041  0.385802  0.474074  0.407617  0.245679

In [65]:
# added words
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                           map       mrr   avg_sr  avg_ndcg    avg_p3
BERT_cos_added_words  0.268313  0.381481  0.47037  0.401226  0.230864

In [43]:
# oracle for cats added words
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

,map,mrr,avg_sr,avg_ndcg,avg_p3
BERT_cos_added_words_oracle_categories,0.223457,0.33642,0.418519,0.35538,0.185185

In [110]:
# added_words
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                     map      mrr    avg_sr  avg_ndcg    avg_p3
BERT_cos_quora  0.213786  0.31358  0.403704  0.334854  0.183951

In [107]:
# added_words
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                    map       mrr  avg_sr  avg_ndcg    avg_p3
BERT_cos_stsb  0.215432  0.315432     0.4  0.336916  0.185185

In [97]:
# without added words
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map      mrr    avg_sr  avg_ndcg    avg_p3
BERT_cos_minilm  0.264198  0.37284  0.448148   0.38921  0.222222

In [100]:
# without added words
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

               map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_cos  0.258783  0.376838  0.459559  0.393999  0.219363

## Lem

In [201]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

          map      mrr    avg_sr  avg_ndcg    avg_p3
Lem  0.234273  0.34375  0.422794  0.361303  0.197304

In [204]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Lem_added_words  0.255515  0.373162  0.452206    0.3916  0.213235

In [82]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                                 map       mrr    avg_sr  avg_ndcg    avg_p3
Lem_only_nouns_added_words  0.283688  0.399823  0.239362  0.421732  0.239362

In [207]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map      mrr    avg_sr  avg_ndcg    avg_p3
Lem_added_noun_kw  0.241422  0.35723  0.463235  0.382518  0.213235

In [210]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                             map       mrr    avg_sr  avg_ndcg    avg_p3
Lem_added_noun_verb_kw  0.295956  0.417892  0.477941  0.431035  0.231618

## DTP

In [45]:
# pruned 1
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p3
DTP_added_words  0.435919  0.588284  0.707921  0.616884  0.374587

In [41]:
# pruned_2
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg   avg_p3
DTP_added_words  0.487208  0.650219  0.769737  0.679259  0.41886

In [121]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

         map       mrr    avg_sr  avg_ndcg    avg_p3
DTP  0.30535  0.426543  0.271605  0.455081  0.271605

In [38]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                     map       mrr    avg_sr  avg_ndcg    avg_p3
DTP_added_words  0.35144  0.485185  0.596296  0.512093  0.302469

In [37]:
# oracle cat
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

,map,mrr,avg_sr,avg_ndcg,avg_p3
DTP_added_words_oracle_categories,0.256173,0.370988,0.455556,0.393429,0.211111

In [192]:
# top5
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p3
DTP_added_words  0.309938  0.549259  0.655556  0.532477  0.233333

# Inside

## Ensemble

### Old

In [57]:
# E22 (inside version of E3)
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.524775  0.739489  0.792793  0.750338  0.391892

In [77]:
# pruned_1
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr  avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.546595  0.723656     0.8  0.739193  0.449462

In [15]:
# pruned_2
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.578972  0.746556  0.826446  0.762499  0.493113

In [18]:
# pruned_3
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg   avg_p3
Ensemble wfm_sc  0.619702  0.795533  0.876289  0.811462  0.52921

In [21]:
# pruned_4
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.609739  0.786008  0.876543  0.804458  0.526749

In [23]:
# pruned_5
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.599839  0.770531  0.855072  0.787919  0.526749

In [26]:
# pruned_6
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg   avg_p3
Ensemble wfm_sc  0.579798  0.766667  0.872727   0.78848  0.50303

In [29]:
# pruned_7
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.571605  0.737037  0.866667  0.763698  0.525926

In [32]:
# pruned_8
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.566358  0.712963  0.861111  0.744882  0.546296

In [35]:
# pruned_9
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.580247  0.728395  0.851852  0.749901  0.555556

In [38]:
# pruned_10
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.561728  0.703704  0.888889  0.749342  0.574074

### New

In [31]:
# E36 (inshorts 400 sent pairs)
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.586587  0.812312  0.869369  0.822907  0.444444

In [32]:
ml = []
for i in range(1,11):
    print('Pruned_',i)
    df1 = pd.read_csv("/home/ritwik/git/AshaQnA/other_codes/Metrics/Data/E_36_pruned_"+str(i)+".csv")
    mat_bin = get_data(df1[["final_1","final_2","final_3"]],[1,2])    
    display(pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique()))
    ml.append(round(calc_metrics(df1)['avg_sr']*100))
print(ml)

Pruned_ 1

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.624731  0.807527  0.864516  0.816327  0.509677

Pruned_ 2

                     map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.64876  0.818182  0.876033  0.826429  0.545455

Pruned_ 3

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.682703  0.843643  0.896907  0.850799  0.584192

Pruned_ 4

                      map       mrr   avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.689986  0.849794  0.91358  0.860346  0.600823

Pruned_ 5

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.700483  0.855072  0.913043  0.864568  0.608696

Pruned_ 6

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.706061  0.872727  0.945455  0.886099  0.618182

Pruned_ 7

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.735802  0.888889  0.955556  0.899809  0.651852

Pruned_ 8

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.742284  0.902778  0.972222  0.912791  0.657407

Pruned_ 9

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.759259  0.907407  0.962963  0.917665  0.666667

Pruned_ 10

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.734568  0.888889  0.944444  0.901461  0.648148

[86, 88, 90, 91, 91, 95, 96, 97, 96, 94]

In [42]:
# E38 (inshorts 400 sent pairs) top5
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.488378  0.826426  0.896396  0.818004  0.327027

In [43]:
ml = []
for i in range(1,11):
    print('Pruned_',i)
    df1 = pd.read_csv("/home/ritwik/git/AshaQnA/other_codes/Metrics/Data/E_38_pruned_"+str(i)+".csv")
    mat_bin = get_data(df1[["final_1","final_2","final_3","final_4","final_5"]],[1,2])    
    display(pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique()))
    ml.append(round(calc_metrics(df1)['avg_sr']*100))
print(ml)

Pruned_ 1

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.538323  0.829462  0.883871  0.806499  0.388387

Pruned_ 2

                     map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.57011  0.839118  0.900826  0.817377  0.429752

Pruned_ 3

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.611203  0.869416  0.927835  0.849185  0.470103

Pruned_ 4

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.625967  0.876543  0.938272  0.856215  0.488889

Pruned_ 5

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.639275  0.888889  0.942029  0.862774  0.504348

Pruned_ 6

                      map      mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.641091  0.90303  0.963636  0.877431  0.505455

Pruned_ 7

                      map       mrr    avg_sr  avg_ndcg  avg_p5
Ensemble wfm_sc  0.661407  0.918519  0.955556  0.884907    0.52

Pruned_ 8

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.681389  0.935185  0.972222  0.902497  0.538889

Pruned_ 9

                      map      mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.667778  0.91358  0.962963  0.886337  0.533333

Pruned_ 10

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.634074  0.898148  0.944444  0.858311  0.522222

[88, 90, 93, 94, 94, 96, 96, 97, 96, 94]

In [102]:
# E32 (inshorts 400 sent pairs)
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.564064  0.790541  0.846847  0.802448  0.421922

In [103]:
ml = []
for i in range(1,11):
    print('Pruned_',i)
    df1 = pd.read_csv("/home/ritwik/git/AshaQnA/other_codes/Metrics/Data/E_32_pruned_"+str(i)+".csv")
    mat_bin = get_data(df1[["final_1","final_2","final_3"]],[1,2])    
    display(pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique()))
    ml.append(round(calc_metrics(df1)['avg_sr']*100))
print(ml)

Pruned_ 1

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.593548  0.780645  0.851613  0.795165  0.483871

Pruned_ 2

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.612029  0.785124  0.859504  0.799543  0.517906

Pruned_ 3

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.649485  0.824742  0.896907  0.836685  0.556701

Pruned_ 4

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.652263  0.823045  0.901235  0.837271  0.567901

Pruned_ 5

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.645733  0.809179  0.884058  0.824151  0.560386

Pruned_ 6

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.655556  0.824242  0.909091  0.840645  0.575758

Pruned_ 7

                      map       mrr    avg_sr  avg_ndcg  avg_p3
Ensemble wfm_sc  0.677778  0.840741  0.911111  0.850671     0.6

Pruned_ 8

                     map       mrr    avg_sr  avg_ndcg   avg_p3
Ensemble wfm_sc  0.70216  0.856481  0.916667  0.862114  0.62037

Pruned_ 9

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.699588  0.864198  0.925926  0.867517  0.617284

Pruned_ 10

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.675926  0.851852  0.944444  0.865751  0.611111

[85, 86, 90, 90, 88, 91, 91, 92, 93, 94]

In [107]:
# E34 (inshorts 400 sent pairs) top5
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.478949  0.816517  0.896396  0.815626  0.318919

In [247]:
# E23 (inshorts 400 sent pairs)
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                     map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.56006  0.783033  0.837838  0.794431  0.423423

In [361]:
ml = []
for i in range(1,11):
    print('Pruned_',i)
    df1 = pd.read_csv("/home/ritwik/git/AshaQnA/other_codes/Metrics/Data/E_23_pruned_"+str(i)+".csv")
    mat_bin = get_data(df1[["final_1","final_2","final_3"]],[1,2])    
    display(pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique()))
    ml.append(round(calc_metrics(df1)['avg_sr']*100))
print(ml)

Pruned_ 1

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.589606  0.773118  0.845161  0.787754  0.488172

Pruned_ 2

                      map       mrr   avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.608356  0.775482  0.85124  0.789533  0.523416

Pruned_ 3

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.648912  0.823024  0.896907  0.835335  0.560137

Pruned_ 4

                      map      mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.655693  0.82716  0.901235   0.83922  0.572016

Pruned_ 5

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.651369  0.818841  0.898551  0.833685  0.570048

Pruned_ 6

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.649495  0.827273  0.927273  0.847355  0.575758

Pruned_ 7

                      map       mrr    avg_sr  avg_ndcg  avg_p3
Ensemble wfm_sc  0.674074  0.848148  0.933333  0.861782     0.6

Pruned_ 8

                      map       mrr    avg_sr  avg_ndcg   avg_p3
Ensemble wfm_sc  0.700617  0.865741  0.944444  0.876003  0.62963

Pruned_ 9

                      map       mrr    avg_sr  avg_ndcg   avg_p3
Ensemble wfm_sc  0.697531  0.876543  0.962963  0.886036  0.62963

Pruned_ 10

                      map      mrr  avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.666667  0.87037     1.0  0.893529  0.611111

[85, 85, 90, 90, 90, 93, 93, 94, 96, 100]

In [357]:
# E26 (asha_sentsim dataset)
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                    map      mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.5498  0.77027  0.824324  0.781199  0.412913

In [358]:
ml = []
for i in range(1,11):
    print('Pruned_',i)
    df1 = pd.read_csv("/home/ritwik/git/AshaQnA/other_codes/Metrics/Data/E_26_pruned_"+str(i)+".csv")
    mat_bin = get_data(df1[["final_1","final_2","final_3"]],[1,2])    
    display(pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique()))
    ml.append(round(calc_metrics(df1)['avg_sr']*100))
print(ml)

Pruned_ 1

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.573118  0.751613  0.819355  0.764732  0.470968

Pruned_ 2

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.602388  0.769972  0.834711  0.781219  0.509642

Pruned_ 3

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.653494  0.831615  0.896907  0.841778  0.553265

Pruned_ 4

                     map       mrr   avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.66118  0.843621  0.91358  0.854726  0.563786

Pruned_ 5

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.660225  0.833333  0.898551   0.84464  0.560386

Pruned_ 6

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.655556  0.839394  0.909091  0.850549  0.557576

Pruned_ 7

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.666667  0.837037  0.911111  0.848156  0.577778

Pruned_ 8

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.669753  0.837963  0.916667  0.848225  0.592593

Pruned_ 9

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.695473  0.864198  0.925926   0.87049  0.604938

Pruned_ 10

                      map       mrr    avg_sr  avg_ndcg    avg_p3
Ensemble wfm_sc  0.651235  0.851852  0.944444  0.861291  0.592593

[82, 83, 90, 91, 90, 91, 91, 92, 93, 94]

In [395]:
# E27 | top5 (asha_sentsim dataset)
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.481051  0.818619  0.878378  0.807204  0.323423

In [396]:
ml = []
for i in range(1,11):
    print('Pruned_',i)
    df1 = pd.read_csv("/home/ritwik/git/AshaQnA/other_codes/Metrics/Data/E_27_pruned_"+str(i)+".csv")
    mat_bin = get_data(df1[["final_1","final_2","final_3","final_4","final_5"]],[1,2])  
    display(pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique()))
    ml.append(round(calc_metrics(df1)['avg_sr']*100))
print(ml)

Pruned_ 1

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.525634  0.807957  0.883871  0.795128  0.388387

Pruned_ 2

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.564298  0.822865  0.909091  0.815682  0.433058

Pruned_ 3

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.606117  0.866323  0.948454  0.859835  0.472165

Pruned_ 4

                      map       mrr    avg_sr  avg_ndcg   avg_p5
Ensemble wfm_sc  0.612099  0.872428  0.950617    0.8621  0.48642

Pruned_ 5

                      map      mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.612077  0.86715  0.942029  0.854529  0.492754

Pruned_ 6

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.610606  0.875758  0.963636  0.869418  0.490909

Pruned_ 7

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.621926  0.888889  0.977778   0.88596  0.502222

Pruned_ 8

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.622315  0.861111  0.972222  0.870443  0.516667

Pruned_ 9

                     map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.59716  0.814815  0.962963  0.841727  0.525926

Pruned_ 10

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.564259  0.805556  0.944444  0.828319  0.511111

[88, 91, 95, 95, 94, 96, 98, 97, 96, 94]

In [399]:
# E28 | top5 (inshorts 400 sent pairs)
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                     map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.47976  0.817868  0.891892  0.812204  0.320721

In [400]:
ml = []
for i in range(1,11):
    print('Pruned_',i)
    df1 = pd.read_csv("/home/ritwik/git/AshaQnA/other_codes/Metrics/Data/E_28_pruned_"+str(i)+".csv")
    mat_bin = get_data(df1[["final_1","final_2","final_3","final_4","final_5"]],[1,2])  
    display(pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique()))
    ml.append(round(calc_metrics(df1)['avg_sr']*100))
print(ml)

Pruned_ 1

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.520968  0.806882  0.883871  0.792661  0.380645

Pruned_ 2

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.548072  0.810468  0.900826  0.797848  0.421488

Pruned_ 3

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.586392  0.850859  0.938144  0.837866  0.457732

Pruned_ 4

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.591852  0.854321  0.950617  0.842196  0.471605

Pruned_ 5

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.590725  0.847826  0.942029  0.835497  0.475362

Pruned_ 6

                      map       mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.588909  0.851515  0.963636   0.84736  0.476364

Pruned_ 7

                      map      mrr    avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.606815  0.87037  0.977778  0.863895  0.493333

Pruned_ 8

                      map    mrr  avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.635463  0.875     1.0  0.885709  0.522222

Pruned_ 9

                      map       mrr  avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.618765  0.851852     1.0  0.871403  0.525926

Pruned_ 10

                      map       mrr  avg_sr  avg_ndcg    avg_p5
Ensemble wfm_sc  0.592778  0.833333     1.0  0.853762  0.533333

[88, 90, 94, 95, 94, 96, 98, 100, 100, 100]

## BERT_spc

In [51]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

               map       mrr    avg_sr  avg_ndcg  avg_p3
BERT_spc  0.392893  0.578078  0.657658  0.597718  0.3003

In [54]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                        map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_38_final  0.265516  0.415916  0.545045  0.448907  0.222222

In [244]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_62_epoch_0  0.540791  0.761261  0.837838  0.779333  0.408408

In [411]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                           map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_spc_61_epoch_0   0.496747  0.701201  0.797297  0.724662  0.393393

In [419]:
# top5
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                           map      mrr    avg_sr  avg_ndcg    avg_p5
BERT_spc_61_epoch_0   0.427598  0.72973  0.855856  0.740854  0.305405

In [422]:
# top5
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map       mrr    avg_sr  avg_ndcg    avg_p5
BERT_spc_62_epoch_0  0.456817  0.785135  0.878378  0.786293  0.308108

In [61]:
# maxlen 300 during training, maxlen 100 during testing, inshorts400
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

,map,mrr,avg_sr,avg_ndcg,avg_p3
BERT_spc_82_epoch_0_max_len_100,0.538038,0.768018,0.855856,0.787298,0.411411

In [74]:
# maxlen 300 during training, maxlen 100 during testing, inshorts400
# top5
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

,map,mrr,avg_sr,avg_ndcg,avg_p5
BERT_spc_82_epoch_0_max_len_100_top5,0.45521,0.790541,0.891892,0.793592,0.311712

## BERT_sim

In [ ]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

## BERT_cos

In [48]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                          map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_cos_added_words  0.46997  0.674174  0.738739  0.687905  0.355856

In [23]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                             map       mrr    avg_sr  avg_ndcg    avg_p3
BERT_cos_added_w_mpnet  0.477227  0.684685  0.747748  0.697934  0.366366

In [27]:
# top5
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                             map       mrr    avg_sr  avg_ndcg    avg_p5
BERT_cos_added_w_mpnet  0.403408  0.723123  0.774775  0.702069  0.271171

## DTP

In [45]:
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                      map       mrr    avg_sr  avg_ndcg    avg_p3
DTP_added_words  0.409409  0.570571  0.653153  0.591163  0.331832

# Plots

In [5]:
# ---- E44, E45 SR bars -----
%matplotlib qt5
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

font_size_num = 38
font_name_val = 'Latin Modern Roman'

E_top_3 = [67, 78, 81, 82, 81, 80, 84, 84, 81, 82, 90]
E_top_5 = [70, 81, 84, 85, 84, 83, 86, 86, 84, 86, 90]

fig, ax = plt.subplots(figsize=(25,6))
ax.set_axisbelow(True)
ax.grid(axis = 'y')

r1 = ax.bar(np.arange(1,34,3),E_top_3,color='#73C2FB')
r2 = ax.bar(np.arange(2,35,3),E_top_5,color='#FE9977')

i = 0.7
for f,e in zip( ['E_35']+['E_35_pruned_'+str(x) for x in range(1,11)],E_top_3):
    n = str(len(pd.read_csv('/home/ritwik/git/AshaQnA/other_codes/Metrics/Data/'+f+'.csv')))
    ax.text(i-0.05,5, (' ' if len(n) >= 3 else '')+'#\n'+n,size=19,fontname=font_name_val)
    if len(str(e)+'%') >= 4:
        ax.text(i-0.50,e+2, str(e)+'%',size=20,fontname=font_name_val)
    else:
        ax.text(i-0.30,e+2, str(e)+'%',size=20,fontname=font_name_val)
    i+=3

i = 1.7
for f,e in zip(['E_37']+['E_37_pruned_'+str(x) for x in range(1,11)],E_top_5):
    n = str(len(pd.read_csv('/home/ritwik/git/AshaQnA/other_codes/Metrics/Data/'+f+'.csv')))
    ax.text(i-0.05,5, (' ' if len(n) >= 3 else '')+'#\n'+n,size=19,fontname=font_name_val)
    if len(str(e)+'%') >= 4:
        ax.text(i-0.10,e+2, str(e)+'%',size=20,fontname=font_name_val)
    else:
        ax.text(i-0.20,e+2, str(e)+'%',size=20,fontname=font_name_val)
    i+=3


ax.set_xticks(np.arange(1.5,33,3))
# ax.set_xticklabels(['E_pruned_'+str(x) for x in range(0,12)])
ax.set_xticklabels([r'$\mathcal{E}$']+[r'$\mathcal{E}_{p'+str(x)+r'}$' for x in range(1,11)])

ax.set_ylim(0,110)

L = ax.legend(['Top-3 suggestions','Top-5 suggestions'],loc='upper left',bbox_to_anchor=(0.1, 1.25),ncol=2,fontsize=30, handlelength=6)
plt.setp(L.texts, family=font_name_val)

plt.xticks(fontsize=font_size_num,fontname=font_name_val)
plt.yticks(fontsize=font_size_num,fontname=font_name_val)
plt.ylabel("Success Rate (SR)",fontsize=font_size_num,fontname=font_name_val)
plt.show()

In [21]:
# ---- E48, E49 all lines -----
%matplotlib qt5
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

font_size_num = 22
font_name_val = 'Latin Modern Roman'

E_top_3 = [[45, 55, 61, 60, 60, 60, 57, 61, 58, 57, 47, 44, 33, 32, 43, 50, 50, 50], [62, 73, 78, 76, 76, 76, 72, 75, 71, 70, 55, 50, 40, 38, 50, 50, 50, 50], [70, 82, 87, 86, 83, 82, 80, 84, 81, 82, 70, 67, 60, 50, 67, 50, 50, 50], [63, 74, 78, 76, 75, 74, 72, 75, 71, 71, 56, 50, 42, 37, 49, 42, 42, 42], [37, 46, 52, 52, 52, 51, 50, 54, 51, 52, 47, 50, 40, 33, 44, 50, 50, 50]]
E_top_5 = [[39, 49, 55, 57, 58, 58, 56, 59, 57, 59, 46, 50, 44, 41, 55, 63, 63, 63], [65, 76, 79, 80, 80, 79, 76, 78, 75, 77, 58, 61, 53, 54, 67, 75, 75, 75], [74, 86, 91, 90, 89, 88, 86, 92, 91, 91, 80, 83, 80, 75, 100, 100, 100, 100], [63, 75, 80, 80, 80, 79, 76, 79, 77, 79, 64, 67, 61, 58, 77, 82, 82, 82], [30, 37, 43, 47, 47, 48, 48, 52, 52, 53, 46, 57, 52, 45, 60, 60, 60, 60]]
nums = ['','\#202', '\#152', '\#105', '\#83 ', '\#65 ', '\#50 ', '\#37 ', '\#32 ', '\#22 ', '\#10 ', '\#6', '\#5', '\#4', '\#3', '\#2', '\#2', '\#2']

fig, ax = plt.subplots(2,1,figsize=(25,6))
ax[0].set_axisbelow(True)
ax[0].grid(axis = 'y')
ax[1].grid(axis = 'y')

params = ['mAP','MRR','SR','nDCG','P@k']
markerl = ['s','o','^','D','X']
clist = [( 176/255, 58/255, 46/255 ), ( 136/255, 78/255, 160/255 ), ( 46/255, 134/255, 193/255 ), ( 212/255, 172/255, 13/255 ), ( 211/255, 84/255, 0 )]

for metric, name, cval, markerval in zip(E_top_3, params, clist, markerl):
    ax[0].plot(np.arange(1,19),metric,color=cval,marker=markerval, markersize=10, alpha=0.5)

for metric, name, cval, markerval in zip(E_top_5, params, clist, markerl):
    ax[1].plot(np.arange(1,19),metric,color=cval,marker=markerval, markersize=10, alpha=0.5)

ax[0].set_xticks(np.arange(1,19))
ax[1].set_xticks(np.arange(1,19))
# ax.set_xticklabels(['E_pruned_'+str(x) for x in range(0,12)])
ax[0].set_xticklabels([r'$\mathcal{E}_{\#270}$']+[r'$\mathcal{E}^{\ p'+str(x)+r'}_{'+nums[x]+'}$' for x in range(1,18)],fontsize=font_size_num,fontname=font_name_val)
ax[1].set_xticklabels([r'$\mathcal{E}_{\#270}$']+[r'$\mathcal{E}^{\ p'+str(x)+r'}_{'+nums[x]+'}$' for x in range(1,18)],fontsize=font_size_num,fontname=font_name_val)


ax[0].set_ylim(18,110)
ax[1].set_ylim(18,110)

ax[0].set_title('Top-k where k = 3',size=20,family=font_name_val)
ax[1].set_title('Top-k where k = 5',size=20,family=font_name_val)

L = ax[1].legend(params,loc='upper left',bbox_to_anchor=(0.1, -0.25),ncol=5,fontsize=22, handlelength=4)
plt.setp(L.texts, family=font_name_val)
plt.setp(ax[0].get_yticklabels(), family=font_name_val, size=font_size_num)
plt.setp(ax[1].get_yticklabels(), family=font_name_val, size=font_size_num)
# plt.legend()

# ax[0].set_xticks(fontsize=font_size_num,fontname=font_name_val)
# plt.yticks(fontsize=font_size_num,fontname=font_name_val)
# plt.ylabel("Success Rate (SR)",fontsize=font_size_num,fontname=font_name_val)
plt.show()

In [58]:
5.5*11

60.5

In [44]:
# ---- E37, E38 -----
%matplotlib qt5
import matplotlib.pyplot as plt
import numpy as np

E_out = [74, 84, 87, 89, 89, 88, 90, 95, 94, 91, 100]
E_in = [89, 88, 90, 93, 94, 94, 96, 96, 97, 96, 94]

fig, ax = plt.subplots()
ax.set_axisbelow(True)
ax.grid(axis = 'y')

r1 = ax.bar(np.arange(1,34,3),E_out)
r2 = ax.bar(np.arange(2,35,3),E_in,color='red')

i = 0.7
for f,e in zip( ['E_37']+['E_37_pruned_'+str(x) for x in range(1,11)],E_out):
    ax.text(i,2, '#'+str(len(pd.read_csv('/home/ritwik/git/AshaQnA/other_codes/Metrics/Data/'+f+'.csv'))),size=7,color='white')
    ax.text(i,e+2, str(e)+'%',size=7)
    i+=3

i = 1.7
for f,e in zip(['E_38']+['E_38_pruned_'+str(x) for x in range(1,11)],E_in):
    ax.text(i,2, '#'+str(len(pd.read_csv('/home/ritwik/git/AshaQnA/other_codes/Metrics/Data/'+f+'.csv'))),size=7,color='white')
    ax.text(i,e+2, str(e)+'%',size=7)
    i+=3


ax.set_xticks(np.arange(1.5,33,3))
ax.set_xticklabels(['E_pruned_'+str(x) for x in range(0,12)])

ax.legend(['Outside db questions','Inside db questions'],loc='upper left')

ax.set_ylim(0,110)

plt.show()

In [96]:
for i in range(1,11):
    print('"E_22_pruned_'+str(i),end='" , ')

"E_22_pruned_1" , "E_22_pruned_2" , "E_22_pruned_3" , "E_22_pruned_4" , "E_22_pruned_5" , "E_22_pruned_6" , "E_22_pruned_7" , "E_22_pruned_8" , "E_22_pruned_9" , "E_22_pruned_10" ,

# Rest

In [52]:
#sort_by_normalized_score_only outer.csv
#Ensemble-2.1
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                               map       mrr    avg_sr  avg_ndcg    avg_p3
sort_by_normalized_score  0.231647  0.320437  0.196429  0.336293  0.196429

In [56]:
#sort_by_normalized_score_only inner.csv
#Ensemble-2.1
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                               map       mrr    avg_sr  avg_ndcg    avg_p3
sort_by_normalized_score  0.483826  0.647679  0.400844  0.659246  0.400844

In [48]:
#sort_by_f1_score_only inner.csv
#Ensemble-1.1
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                             map       mrr    avg_sr  avg_ndcg    avg_p3
sort_by_normalized_score  0.4782  0.620253  0.409283   0.62799  0.409283

In [44]:
#sort_by_f1_score_only outer.csv
#Ensemble-1.1
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                               map       mrr    avg_sr  avg_ndcg    avg_p3
sort_by_normalized_score  0.236276  0.329861  0.204365  0.344802  0.204365

In [40]:
#sort_by_added_internal_normalized_score_only inner.csv
#Ensemble-1.2
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                               map       mrr    avg_sr  avg_ndcg    avg_p3
sort_by_normalized_score  0.497187  0.662447  0.409283  0.668964  0.409283

In [36]:
#sort_by_added_internal_normalized_score_only outer.csv
#Ensemble-1.2
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                              map       mrr    avg_sr  avg_ndcg    avg_p3
sort_by_normalized_score  0.24041  0.339782  0.194444  0.353427  0.194444

In [28]:
#sort_by_added_internal_normalized_score_bucket and f_score (group sort) inner.csv
#Ensemble-1.3
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                               map       mrr    avg_sr  avg_ndcg    avg_p3
sort_by_normalized_score  0.511252  0.668776  0.400844  0.673102  0.400844

In [32]:
#sort_by_added_internal_normalized_score_bucket and f_score (group sort) outer.csv
#Ensemble-1.3
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                               map       mrr    avg_sr  avg_ndcg    avg_p3
sort_by_normalized_score  0.237434  0.337302  0.200397   0.35125  0.200397

In [24]:
#sort_by_added_normalized_score_bucket and f_score (group sort) outer.csv
#Ensemble-2.2
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                               map       mrr    avg_sr  avg_ndcg    avg_p3
sort_by_normalized_score  0.240079  0.330853  0.208333  0.344767  0.208333

In [20]:
# sort_by_added_normalized_score_bucket and f_score (group sort) inner.csv
#Ensemble-2.2
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                               map       mrr    avg_sr  avg_ndcg    avg_p3
sort_by_normalized_score  0.524613  0.698312  0.434599   0.71259  0.434599

In [149]:
#sort_by_normalized_score_bucket and f_score (group sort) outer.csv
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                               map       mrr   avg_sr  avg_ndcg   avg_p3
sort_by_normalized_score  0.241898  0.321429  0.22123  0.336595  0.22123

In [153]:
#sort_by_normalized_score_bucket and f_score (group sort) inner.csv
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                               map       mrr   avg_sr  avg_ndcg   avg_p3
sort_by_normalized_score  0.545007  0.681435  0.50211  0.703393  0.50211

In [141]:
#sort_by_normalized_score and f_score outer.csv
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                               map       mrr    avg_sr  avg_ndcg    avg_p3
sort_by_normalized_score  0.245701  0.315972  0.225198  0.330637  0.225198

In [145]:
#sort_by_normalized_score and f_score inner.csv
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                               map       mrr   avg_sr  avg_ndcg   avg_p3
sort_by_normalized_score  0.533052  0.632911  0.49789  0.652589  0.49789

In [125]:
#sort_by_normalized_score_inner.csv
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                               map       mrr    avg_sr  avg_ndcg    avg_p3
sort_by_normalized_score  0.435302  0.582278  0.375527   0.59504  0.375527

In [129]:
#sort_by_normalized_score_outer.csv
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

                               map       mrr    avg_sr  avg_ndcg    avg_p3
sort_by_normalized_score  0.191799  0.261409  0.176587  0.274604  0.176587

In [18]:
#ganga_inner
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

           map       mrr   avg_sr  avg_ndcg   avg_p3
????  0.413502  0.533755  0.35443  0.539982  0.35443

In [30]:
#kaali_inner
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

           map      mrr   avg_sr  avg_ndcg   avg_p3
????  0.424051  0.57384  0.35443   0.58178  0.35443

In [17]:
#renu_inner
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

           map       mrr    avg_sr  avg_ndcg    avg_p3
????  0.339662  0.491561  0.253165  0.507602  0.253165

In [23]:
#ganga_outer
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

           map       mrr   avg_sr  avg_ndcg   avg_p3
????  0.183036  0.260913  0.16369  0.277396  0.16369

In [44]:
#kaali_outer
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

           map       mrr    avg_sr  avg_ndcg    avg_p3
????  0.219246  0.296627  0.199405  0.312296  0.199405

In [47]:
#renu_outer
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

           map       mrr    avg_sr  avg_ndcg    avg_p3
????  0.105985  0.162202  0.087302  0.174693  0.087302

Use final.csv and Metrics-final.ipynb to get scores of kaali, ganga, and renu

In [44]:
#For starting till 1008*3
#kaali
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

           map      mrr   avg_sr  avg_ndcg  avg_p3
????  0.424051  0.57384  0.35443   0.58178     0.6

In [91]:
#ganga
pd.DataFrame(calc_metrics(df1),index=df1.Model_name.unique())

           map       mrr   avg_sr  avg_ndcg   avg_p3
????  0.413502  0.533755  0.35443  0.539982  0.35443